{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "support@lithic.com"
    },
    "description": "The Lithic Developer API is designed to provide a predictable programmatic interface for accessing your Lithic account through an API and transaction webhooks.\nNote that your API key is a secret and should be treated as such. Don't share it with anyone, including us. We will never ask you for it.\n",
    "termsOfService": "https://lithic.com/legal#terms",
    "title": "Lithic Developer API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Lithic production API server",
      "url": "https://api.lithic.com/v1"
    },
    {
      "description": "Sandbox environment that provides key functionality mirroring production",
      "url": "https://sandbox.lithic.com/v1"
    }
  ],
  "tags": [
    {
      "name": "3DS"
    },
    {
      "name": "Account"
    },
    {
      "name": "Account Holder"
    },
    {
      "name": "Auth Stream Access (ASA)"
    },
    {
      "name": "Authorization Rules"
    },
    {
      "name": "Balance"
    },
    {
      "name": "Card"
    },
    {
      "name": "Card Product"
    },
    {
      "name": "Dispute"
    },
    {
      "name": "Event"
    },
    {
      "name": "Event Types"
    },
    {
      "name": "External Bank Account"
    },
    {
      "name": "Financial Account"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Responder Endpoints"
    },
    {
      "name": "Settlement Report"
    },
    {
      "name": "Statement"
    },
    {
      "name": "Status"
    },
    {
      "name": "Tokenization"
    },
    {
      "name": "Transaction"
    }
  ],
  "paths": {
    "/account_holders": {
      "get": {
        "description": "Get a list of individual or business account holders and their KYC or KYB evaluation status.",
        "operationId": "getAccountHolders",
        "parameters": [
          {
            "description": "If applicable, represents the external_id associated with the account_holder.",
            "example": "00000000-0000-0000-0000-000000000001",
            "in": "query",
            "name": "external_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The number of account_holders to limit the response to.",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A cursor representing an item's token before which a page of results should end. Used to retrieve the previous page of results before this item.",
            "in": "query",
            "name": "ending_before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A cursor representing an item's token after which a page of results should begin. Used to retrieve the next page of results after this item.",
            "in": "query",
            "name": "starting_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "getAccountHoldersResponse": {
                    "value": {
                      "data": [
                        {
                          "account_token": "6b67b340-ed11-4463-a33d-0d7f7fdcd28c",
                          "business_account_token": "00000000-0000-0000-0000-000000000000",
                          "created": "2024-01-11T19:50:36.105448",
                          "email": "john@appleseed.com",
                          "exemption_type": "AUTHORIZED_USER",
                          "external_id": "5555555555",
                          "individual": {
                            "address": {
                              "address1": "123 Main Street",
                              "city": "New York",
                              "country": "USA",
                              "postal_code": "10128",
                              "state": "NY"
                            },
                            "dob": "2000-01-01",
                            "email": "john@appleseed.com",
                            "first_name": "John",
                            "last_name": "Appleseed",
                            "phone_number": "5555555555"
                          },
                          "phone_number": "5555555555",
                          "status": "ACCEPTED",
                          "token": "b68b7424-aa69-4cbc-a946-30d90181b621",
                          "user_type": "INDIVIDUAL",
                          "verification_application": {
                            "created": "2024-01-11T19:58:24.821848",
                            "status": "ACCEPTED",
                            "status_reasons": [],
                            "updated": "2024-01-11T19:58:24.821848"
                          }
                        },
                        {
                          "account_token": "732f7328-a2d7-4281-a264-e8cb5af8d392",
                          "beneficial_owner_entities": [
                            {
                              "address": {
                                "address1": "22 Street North",
                                "city": "New York",
                                "country": "US",
                                "postal_code": "10004",
                                "state": "NY"
                              },
                              "dba_business_name": "Busy Business, Inc.",
                              "government_id": "98-7654321",
                              "legal_business_name": "Busy Business, Inc.",
                              "parent_company": "Example company",
                              "phone_numbers": ["5555555555"]
                            }
                          ],
                          "business_account_token": "00000000-0000-0000-0000-000000000000",
                          "business_entity": {
                            "address": {
                              "address1": "22 Street North",
                              "city": "New York",
                              "country": "US",
                              "postal_code": "10004",
                              "state": "NY"
                            },
                            "dba_business_name": "Busy Business, Inc.",
                            "government_id": "98-7654321",
                            "legal_business_name": "Busy Business, Inc.",
                            "parent_company": "Example company",
                            "phone_numbers": ["5555555555"]
                          },
                          "control_person": {
                            "address": {
                              "address1": "451 New Forest Way",
                              "city": "Springfield",
                              "country": "US",
                              "postal_code": "68022",
                              "state": "IL"
                            },
                            "dob": "1991-03-08T08:00:00Z",
                            "email": "john@busybusiness.com",
                            "first_name": "John",
                            "last_name": "Appleseed",
                            "phone_number": "5555555555"
                          },
                          "created": "2024-01-11T19:50:36.105449",
                          "exemption_type": "AUTHORIZED_USER",
                          "external_id": "851030f1-9b7b-4939-8ac9-161bd972d26f",
                          "token": "fa68ed76-9d02-4d45-8a3f-782f3b6a8b3f",
                          "user_type": "BUSINESS",
                          "verification_application": {
                            "created": "2024-01-11T19:50:36.105449",
                            "status": "PENDING_DOCUMENT",
                            "status_reasons": [],
                            "updated": "2024-01-11T19:50:36.105449"
                          }
                        }
                      ],
                      "has_more": false
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "account_token": {
                            "description": "Globally unique identifier for the account.",
                            "format": "uuid",
                            "type": "string"
                          },
                          "beneficial_owner_entities": {
                            "description": "Only present when user_type == \"BUSINESS\". List of all entities with >25% ownership in the company.\n",
                            "items": {
                              "properties": {
                                "address": {
                                  "description": "Business's physical address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable.\n",
                                  "properties": {
                                    "address1": {
                                      "description": "Valid deliverable address (no PO boxes).",
                                      "example": "123 Old Forest Way",
                                      "type": "string"
                                    },
                                    "address2": {
                                      "description": "Unit or apartment number (if applicable).",
                                      "type": "string"
                                    },
                                    "city": {
                                      "description": "Name of city.",
                                      "example": "Omaha",
                                      "type": "string"
                                    },
                                    "country": {
                                      "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                      "example": "USA",
                                      "type": "string"
                                    },
                                    "postal_code": {
                                      "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                      "example": "68022",
                                      "type": "string"
                                    },
                                    "state": {
                                      "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                      "example": "NE",
                                      "type": "string"
                                    }
                                  },
                                  "required": ["address1", "city", "country", "postal_code", "state"],
                                  "type": "object"
                                },
                                "dba_business_name": {
                                  "description": "Any name that the business operates under that is not its legal business name (if applicable).",
                                  "type": "string"
                                },
                                "government_id": {
                                  "description": "Government-issued identification number. US Federal Employer Identification Numbers (EIN) are currently supported, entered as full nine-digits, with or without hyphens.\n",
                                  "example": "114-123-1513",
                                  "type": "string"
                                },
                                "legal_business_name": {
                                  "description": "Legal (formal) business name.",
                                  "example": "Acme, Inc.",
                                  "type": "string"
                                },
                                "parent_company": {
                                  "description": "Parent company name (if applicable).",
                                  "type": "string"
                                },
                                "phone_numbers": {
                                  "description": "One or more of the business's phone number(s), entered as a list in E.164 format.",
                                  "items": {
                                    "description": "Business phone number, entered in E.164 format.",
                                    "example": "+12124007676",
                                    "type": "string"
                                  },
                                  "minItems": 1,
                                  "type": "array"
                                }
                              },
                              "required": [
                                "address",
                                "government_id",
                                "legal_business_name",
                                "phone_numbers"
                              ],
                              "type": "object"
                            },
                            "minItems": 0,
                            "type": "array"
                          },
                          "beneficial_owner_individuals": {
                            "description": "Only present when user_type == \"BUSINESS\". List of all individuals with >25% ownership in the company.\n",
                            "items": {
                              "description": "Information about an individual associated with an account holder. A subset of the information provided via KYC. For example, we do not return the government id.",
                              "properties": {
                                "address": {
                                  "description": "Individual's current address",
                                  "properties": {
                                    "address1": {
                                      "description": "Valid deliverable address (no PO boxes).",
                                      "example": "123 Old Forest Way",
                                      "type": "string"
                                    },
                                    "address2": {
                                      "description": "Unit or apartment number (if applicable).",
                                      "type": "string"
                                    },
                                    "city": {
                                      "description": "Name of city.",
                                      "example": "Omaha",
                                      "type": "string"
                                    },
                                    "country": {
                                      "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                      "example": "USA",
                                      "type": "string"
                                    },
                                    "postal_code": {
                                      "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                      "example": "68022",
                                      "type": "string"
                                    },
                                    "state": {
                                      "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                      "example": "NE",
                                      "type": "string"
                                    }
                                  },
                                  "required": ["address1", "city", "country", "postal_code", "state"],
                                  "type": "object"
                                },
                                "dob": {
                                  "description": "Individual's date of birth, as an RFC 3339 date.",
                                  "example": "1991-03-08 08:00:00",
                                  "type": "string"
                                },
                                "email": {
                                  "description": "Individual's email address.",
                                  "example": "tom@middle-earth.com",
                                  "type": "string"
                                },
                                "first_name": {
                                  "description": "Individual's first name, as it appears on government-issued identity documents.",
                                  "example": "Tom",
                                  "type": "string"
                                },
                                "last_name": {
                                  "description": "Individual's last name, as it appears on government-issued identity documents.",
                                  "example": "Bombadil",
                                  "type": "string"
                                },
                                "phone_number": {
                                  "description": "Individual's phone number, entered in E.164 format.",
                                  "example": "+12124007676",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "minItems": 0,
                            "type": "array"
                          },
                          "business_account_token": {
                            "description": "Only applicable for customers using the KYC-Exempt workflow to enroll authorized users of businesses. Pass the account_token of the enrolled business associated with the AUTHORIZED_USER in this field.",
                            "format": "uuid",
                            "type": "string"
                          },
                          "business_entity": {
                            "properties": {
                              "address": {
                                "description": "Business's physical address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable.\n",
                                "properties": {
                                  "address1": {
                                    "description": "Valid deliverable address (no PO boxes).",
                                    "example": "123 Old Forest Way",
                                    "type": "string"
                                  },
                                  "address2": {
                                    "description": "Unit or apartment number (if applicable).",
                                    "type": "string"
                                  },
                                  "city": {
                                    "description": "Name of city.",
                                    "example": "Omaha",
                                    "type": "string"
                                  },
                                  "country": {
                                    "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                    "example": "USA",
                                    "type": "string"
                                  },
                                  "postal_code": {
                                    "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                    "example": "68022",
                                    "type": "string"
                                  },
                                  "state": {
                                    "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                    "example": "NE",
                                    "type": "string"
                                  }
                                },
                                "required": ["address1", "city", "country", "postal_code", "state"],
                                "type": "object"
                              },
                              "dba_business_name": {
                                "description": "Any name that the business operates under that is not its legal business name (if applicable).",
                                "type": "string"
                              },
                              "government_id": {
                                "description": "Government-issued identification number. US Federal Employer Identification Numbers (EIN) are currently supported, entered as full nine-digits, with or without hyphens.\n",
                                "example": "114-123-1513",
                                "type": "string"
                              },
                              "legal_business_name": {
                                "description": "Legal (formal) business name.",
                                "example": "Acme, Inc.",
                                "type": "string"
                              },
                              "parent_company": {
                                "description": "Parent company name (if applicable).",
                                "type": "string"
                              },
                              "phone_numbers": {
                                "description": "One or more of the business's phone number(s), entered as a list in E.164 format.",
                                "items": {
                                  "description": "Business phone number, entered in E.164 format.",
                                  "example": "+12124007676",
                                  "type": "string"
                                },
                                "minItems": 1,
                                "type": "array"
                              }
                            },
                            "required": ["address", "government_id", "legal_business_name", "phone_numbers"],
                            "type": "object",
                            "description": "Only present when user_type == \"BUSINESS\". Information about the business for which the account is being opened and KYB is being run."
                          },
                          "control_person": {
                            "description": "Information about an individual associated with an account holder. A subset of the information provided via KYC. For example, we do not return the government id.",
                            "properties": {
                              "address": {
                                "description": "Individual's current address",
                                "properties": {
                                  "address1": {
                                    "description": "Valid deliverable address (no PO boxes).",
                                    "example": "123 Old Forest Way",
                                    "type": "string"
                                  },
                                  "address2": {
                                    "description": "Unit or apartment number (if applicable).",
                                    "type": "string"
                                  },
                                  "city": {
                                    "description": "Name of city.",
                                    "example": "Omaha",
                                    "type": "string"
                                  },
                                  "country": {
                                    "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                    "example": "USA",
                                    "type": "string"
                                  },
                                  "postal_code": {
                                    "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                    "example": "68022",
                                    "type": "string"
                                  },
                                  "state": {
                                    "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                    "example": "NE",
                                    "type": "string"
                                  }
                                },
                                "required": ["address1", "city", "country", "postal_code", "state"],
                                "type": "object"
                              },
                              "dob": {
                                "description": "Individual's date of birth, as an RFC 3339 date.",
                                "example": "1991-03-08 08:00:00",
                                "type": "string"
                              },
                              "email": {
                                "description": "Individual's email address.",
                                "example": "tom@middle-earth.com",
                                "type": "string"
                              },
                              "first_name": {
                                "description": "Individual's first name, as it appears on government-issued identity documents.",
                                "example": "Tom",
                                "type": "string"
                              },
                              "last_name": {
                                "description": "Individual's last name, as it appears on government-issued identity documents.",
                                "example": "Bombadil",
                                "type": "string"
                              },
                              "phone_number": {
                                "description": "Individual's phone number, entered in E.164 format.",
                                "example": "+12124007676",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "created": {
                            "description": "Timestamp of when the account holder was created.",
                            "format": "date-time",
                            "type": "string"
                          },
                          "email": {
                            "description": "<\n  Deprecated.\n  Use control_person.email when user_type == \"BUSINESS\".\n  Use individual.phone_number when user_type == \"INDIVIDUAL\".\n>\nPrimary email of Account Holder.\n",
                            "example": "+12124007676",
                            "type": "string"
                          },
                          "exemption_type": {
                            "description": "The type of KYC exemption for a KYC-Exempt Account Holder.",
                            "enum": ["AUTHORIZED_USER", "PREPAID_CARD_USER"],
                            "type": "string"
                          },
                          "external_id": {
                            "description": "Customer-provided token that indicates a relationship with an object outside of the Lithic ecosystem.",
                            "format": "string",
                            "type": "string"
                          },
                          "individual": {
                            "description": "Information about an individual associated with an account holder. A subset of the information provided via KYC. For example, we do not return the government id.",
                            "properties": {
                              "address": {
                                "description": "Individual's current address",
                                "properties": {
                                  "address1": {
                                    "description": "Valid deliverable address (no PO boxes).",
                                    "example": "123 Old Forest Way",
                                    "type": "string"
                                  },
                                  "address2": {
                                    "description": "Unit or apartment number (if applicable).",
                                    "type": "string"
                                  },
                                  "city": {
                                    "description": "Name of city.",
                                    "example": "Omaha",
                                    "type": "string"
                                  },
                                  "country": {
                                    "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                    "example": "USA",
                                    "type": "string"
                                  },
                                  "postal_code": {
                                    "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                    "example": "68022",
                                    "type": "string"
                                  },
                                  "state": {
                                    "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                    "example": "NE",
                                    "type": "string"
                                  }
                                },
                                "required": ["address1", "city", "country", "postal_code", "state"],
                                "type": "object"
                              },
                              "dob": {
                                "description": "Individual's date of birth, as an RFC 3339 date.",
                                "example": "1991-03-08 08:00:00",
                                "type": "string"
                              },
                              "email": {
                                "description": "Individual's email address.",
                                "example": "tom@middle-earth.com",
                                "type": "string"
                              },
                              "first_name": {
                                "description": "Individual's first name, as it appears on government-issued identity documents.",
                                "example": "Tom",
                                "type": "string"
                              },
                              "last_name": {
                                "description": "Individual's last name, as it appears on government-issued identity documents.",
                                "example": "Bombadil",
                                "type": "string"
                              },
                              "phone_number": {
                                "description": "Individual's phone number, entered in E.164 format.",
                                "example": "+12124007676",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "nature_of_business": {
                            "description": "Only present when user_type == \"BUSINESS\". User-submitted description of the business.",
                            "format": "string",
                            "type": "string"
                          },
                          "phone_number": {
                            "description": "<\n  Deprecated.\n  Use control_person.phone_number when user_type == \"BUSINESS\".\n  Use individual.phone_number when user_type == \"INDIVIDUAL\".\n>\nPrimary phone of Account Holder, entered in E.164 format.\n",
                            "example": "+12124007676",
                            "type": "string"
                          },
                          "status": {
                            "description": "<Deprecated. Use verification_application.status instead>\nKYC and KYB evaluation states.\nNote: `PENDING_RESUBMIT` and `PENDING_DOCUMENT` are only applicable for the `ADVANCED` workflow.\n",
                            "enum": ["ACCEPTED", "PENDING_DOCUMENT", "PENDING_RESUBMIT", "REJECTED"],
                            "type": "string"
                          },
                          "status_reasons": {
                            "description": "<Deprecated. Use verification_application.status_reasons> Reason for the evaluation status.",
                            "items": {
                              "enum": [
                                "ADDRESS_VERIFICATION_FAILURE",
                                "AGE_THRESHOLD_FAILURE",
                                "COMPLETE_VERIFICATION_FAILURE",
                                "DOB_VERIFICATION_FAILURE",
                                "ID_VERIFICATION_FAILURE",
                                "MAX_DOCUMENT_ATTEMPTS",
                                "MAX_RESUBMISSION_ATTEMPTS",
                                "NAME_VERIFICATION_FAILURE",
                                "OTHER_VERIFICATION_FAILURE",
                                "RISK_THRESHOLD_FAILURE",
                                "WATCHLIST_ALERT_FAILURE"
                              ],
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "token": {
                            "description": "Globally unique identifier for the account holder.",
                            "format": "uuid",
                            "type": "string"
                          },
                          "user_type": {
                            "description": "The type of Account Holder. If the type is \"INDIVIDUAL\", the \"individual\" attribute will be present.\nIf the type is \"BUSINESS\" then the \"business_entity\", \"control_person\", \"beneficial_owner_individuals\", \"beneficial_owner_entities\",\n\"nature_of_business\", and \"website_url\" attributes will be present.\n",
                            "enum": ["BUSINESS", "INDIVIDUAL"],
                            "type": "string"
                          },
                          "verification_application": {
                            "description": "Information about the most recent identity verification attempt",
                            "properties": {
                              "created": {
                                "description": "Timestamp of when the application was created.",
                                "format": "date-time",
                                "type": "string"
                              },
                              "status": {
                                "description": "KYC and KYB evaluation states.\nNote: `PENDING_RESUBMIT` and `PENDING_DOCUMENT` are only applicable for the `ADVANCED` workflow.\n",
                                "enum": ["ACCEPTED", "PENDING_DOCUMENT", "PENDING_RESUBMIT", "REJECTED"],
                                "type": "string"
                              },
                              "status_reasons": {
                                "description": "Reason for the evaluation status.",
                                "items": {
                                  "enum": [
                                    "ADDRESS_VERIFICATION_FAILURE",
                                    "AGE_THRESHOLD_FAILURE",
                                    "COMPLETE_VERIFICATION_FAILURE",
                                    "DOB_VERIFICATION_FAILURE",
                                    "ID_VERIFICATION_FAILURE",
                                    "MAX_DOCUMENT_ATTEMPTS",
                                    "MAX_RESUBMISSION_ATTEMPTS",
                                    "NAME_VERIFICATION_FAILURE",
                                    "OTHER_VERIFICATION_FAILURE",
                                    "RISK_THRESHOLD_FAILURE",
                                    "WATCHLIST_ALERT_FAILURE"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "updated": {
                                "description": "Timestamp of when the application was last updated.",
                                "format": "date-time",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "website_url": {
                            "description": "Only present when user_type == \"BUSINESS\". Business's primary website.",
                            "format": "string",
                            "type": "string"
                          }
                        },
                        "required": ["token"],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "has_more": {
                      "description": "Whether there are more accounts to be retrieved.",
                      "type": "boolean"
                    }
                  },
                  "required": ["data", "has_more"],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "debugging_request_id": {
                      "description": "Identifier to help debug an error.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Explanation of error response.",
                      "type": "string"
                    }
                  },
                  "required": ["debugging_request_id", "message"],
                  "type": "object"
                }
              }
            },
            "description": "|   |   |\n|---|---|\n| User has not been authenticated | Invalid or missing API key |\n| API key is not active | The API key used is no longer active |\n| Could not find API key | The API key provided is not associated with any user |\n| Please provide API key in Authorization header | The Authorization header is not in the request |\n| Please provide API key in the form Authorization: [api-key] | The Authorization header is not formatted properly |\n| Insufficient privileges. Issuing API key required | Write access requires an Issuing API key. Reach out at [lithic.com/contact](https://lithic.com/contact) |\n| Insufficient privileges to create virtual cards. | Creating virtual cards requires an additional privilege | Reach out at [lithic.com/contact](https://lithic.com/contact) |\n"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "debugging_request_id": {
                      "description": "Identifier to help debug an error.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Explanation of error response.",
                      "type": "string"
                    }
                  },
                  "required": ["debugging_request_id", "message"],
                  "type": "object"
                }
              }
            },
            "description": "Client has exceeded the number of allowed requests in a given time period.\n\n|   |   |\n|---|---|\n| Rate limited, too many requests per second | User has exceeded their per second rate limit |\n| Rate limited, reached daily limit | User has exceeded their daily rate limit |\n| Rate limited, too many keys tried | One IP has queried too many different API keys |\n"
          }
        },
        "summary": "Get a list of individual or businesss account holders",
        "tags": ["Account Holder"]
      },
      "post": {
        "description": "Run an individual or business's information through the Customer Identification Program (CIP) and return an `account_token` if the status is accepted or pending (i.e., further action required).\nAll calls to this endpoint will return an immediate response - though in some cases, the response may indicate the workflow is under review or further action will be needed to complete the account creation process.\nThis endpoint can only be used on accounts that are part of the program that the calling API key manages. ",
        "operationId": "postAccountHolders",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "kybRequest": {
                  "summary": "Create an account holder with KYB workflow",
                  "value": {
                    "beneficial_owner_entities": [
                      {
                        "address": {
                          "address1": "300 Normal Forest Way",
                          "city": "Portland",
                          "country": "USA",
                          "postal_code": "90210",
                          "state": "OR"
                        },
                        "dba_name": "MHoldings",
                        "entity_type": "LLC",
                        "government_id": "98-7654321",
                        "incorporation_country": "US",
                        "incorporation_date": "2015-09-17",
                        "incorporation_state": "NV",
                        "legal_business_name": "Majority Holdings LLC",
                        "phone_numbers": ["+12124007676"]
                      }
                    ],
                    "beneficial_owner_individuals": [
                      {
                        "address": {
                          "address1": "300 Normal Forest Way",
                          "city": "Portland",
                          "country": "USA",
                          "postal_code": "90210",
                          "state": "OR"
                        },
                        "dob": "1991-03-08T08:00:00Z",
                        "email": "tim@left-earth.com",
                        "first_name": "Timmy",
                        "government_id": "211-23-1412",
                        "last_name": "Turner",
                        "phone_number": "+12024007611"
                      }
                    ],
                    "business_entity": {
                      "address": {
                        "address1": "123 Old Forest Way",
                        "city": "Omaha",
                        "country": "USA",
                        "postal_code": "61022",
                        "state": "NE"
                      },
                      "dba_name": "Example Business Solutions",
                      "entity_type": "Corporation",
                      "government_id": "12-3456789",
                      "incorporation_country": "US",
                      "incorporation_date": "2010-06-28",
                      "incorporation_state": "DE",
                      "legal_business_name": "Busy Business, Inc.",
                      "phone_numbers": ["+12124007676"]
                    },
                    "control_person": {
                      "address": {
                        "address1": "451 New Forest Way",
                        "city": "Springfield",
                        "country": "USA",
                        "postal_code": "68022",
                        "state": "IL"
                      },
                      "birthdate": "1980-04-12",
                      "dob": "1991-03-08T08:00:00Z",
                      "email": "tom@middle-pluto.com",
                      "first_name": "Tom",
                      "government_id": "111-23-1412",
                      "last_name": "Timothy",
                      "nationality": "US",
                      "phone_number": "+12024008176",
                      "title": "CEO"
                    },
                    "kyb_passed_timestamp": "2022-03-08T08:00:00Z",
                    "nature_of_business": "Software company selling solutions to the restaurant industry",
                    "tos_timestamp": "2022-03-08T08:00:00Z",
                    "website_url": "https://www.mybusiness.com",
                    "workflow": "KYB_BASIC"
                  }
                },
                "kycExemptRequest": {
                  "summary": "Create an account holder with KYC Exempt workflow",
                  "value": {
                    "address": {
                      "address1": "123 Old Forest Way",
                      "city": "Omaha",
                      "country": "USA",
                      "postal_code": "68022",
                      "state": "NE"
                    },
                    "business_account_token": "e87db14a-4abf-4901-adad-5d5c9f46aff2",
                    "email": "tom@middle-earth.com",
                    "first_name": "Tom",
                    "kyc_exemption_type": "AUTHORIZED_USER",
                    "last_name": "Bombadil",
                    "phone_number": "+12124007676",
                    "workflow": "KYC_EXEMPT"
                  }
                },
                "kycRequest": {
                  "summary": "Create an account holder with KYC workflow",
                  "value": {
                    "individual": {
                      "address": {
                        "address1": "123 Old Forest Way",
                        "city": "Omaha",
                        "country": "USA",
                        "postal_code": "68022",
                        "state": "NE"
                      },
                      "dob": "1991-03-08 08:00:00",
                      "email": "tom@middle-earth.com",
                      "first_name": "Tom",
                      "government_id": "111-23-1412",
                      "last_name": "Bombadil",
                      "phone_number": "+12124007676"
                    },
                    "tos_timestamp": "2022-03-08 08:00:00",
                    "workflow": "KYC_ADVANCED"
                  }
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "properties": {
                      "beneficial_owner_entities": {
                        "description": "List of all entities with >25% ownership in the company. If no entity or individual owns >25% of the company, and the largest shareholder is an entity, please identify them in this field. See [FinCEN requirements](https://www.fincen.gov/sites/default/files/shared/CDD_Rev6.7_Sept_2017_Certificate.pdf) (Section I) for more background. If no business owner is an entity, pass in an empty list. However, either this parameter or `beneficial_owner_individuals` must be populated. on entities that should be included.\n",
                        "items": {
                          "properties": {
                            "address": {
                              "description": "Business's physical address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable.\n",
                              "properties": {
                                "address1": {
                                  "description": "Valid deliverable address (no PO boxes).",
                                  "example": "123 Old Forest Way",
                                  "type": "string"
                                },
                                "address2": {
                                  "description": "Unit or apartment number (if applicable).",
                                  "type": "string"
                                },
                                "city": {
                                  "description": "Name of city.",
                                  "example": "Omaha",
                                  "type": "string"
                                },
                                "country": {
                                  "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                  "example": "USA",
                                  "type": "string"
                                },
                                "postal_code": {
                                  "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                  "example": "68022",
                                  "type": "string"
                                },
                                "state": {
                                  "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                  "example": "NE",
                                  "type": "string"
                                }
                              },
                              "required": ["address1", "city", "country", "postal_code", "state"],
                              "type": "object"
                            },
                            "dba_business_name": {
                              "description": "Any name that the business operates under that is not its legal business name (if applicable).",
                              "type": "string"
                            },
                            "government_id": {
                              "description": "Government-issued identification number. US Federal Employer Identification Numbers (EIN) are currently supported, entered as full nine-digits, with or without hyphens.\n",
                              "example": "114-123-1513",
                              "type": "string"
                            },
                            "legal_business_name": {
                              "description": "Legal (formal) business name.",
                              "example": "Acme, Inc.",
                              "type": "string"
                            },
                            "parent_company": {
                              "description": "Parent company name (if applicable).",
                              "type": "string"
                            },
                            "phone_numbers": {
                              "description": "One or more of the business's phone number(s), entered as a list in E.164 format.",
                              "items": {
                                "description": "Business phone number, entered in E.164 format.",
                                "example": "+12124007676",
                                "type": "string"
                              },
                              "minItems": 1,
                              "type": "array"
                            }
                          },
                          "required": ["address", "government_id", "legal_business_name", "phone_numbers"],
                          "type": "object"
                        },
                        "minItems": 0,
                        "type": "array"
                      },
                      "beneficial_owner_individuals": {
                        "description": "List of all individuals with >25% ownership in the company. If no entity or individual owns >25% of the company,\nand the largest shareholder is an individual, please identify them in this field.\nSee [FinCEN requirements](https://www.fincen.gov/sites/default/files/shared/CDD_Rev6.7_Sept_2017_Certificate.pdf) (Section I) for more background on individuals that should be included. If no individual is an entity, pass in an empty list. However, either this parameter or `beneficial_owner_entities` must be populated.\n",
                        "items": {
                          "allOf": [
                            {
                              "properties": {
                                "address": {
                                  "description": "Individual's current address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable. Only USA addresses are currently supported.\n",
                                  "properties": {
                                    "address1": {
                                      "description": "Valid deliverable address (no PO boxes).",
                                      "example": "123 Old Forest Way",
                                      "type": "string"
                                    },
                                    "address2": {
                                      "description": "Unit or apartment number (if applicable).",
                                      "type": "string"
                                    },
                                    "city": {
                                      "description": "Name of city.",
                                      "example": "Omaha",
                                      "type": "string"
                                    },
                                    "country": {
                                      "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                      "example": "USA",
                                      "type": "string"
                                    },
                                    "postal_code": {
                                      "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                      "example": "68022",
                                      "type": "string"
                                    },
                                    "state": {
                                      "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                      "example": "NE",
                                      "type": "string"
                                    }
                                  },
                                  "required": ["address1", "city", "country", "postal_code", "state"],
                                  "type": "object"
                                },
                                "dob": {
                                  "description": "Individual's date of birth, as an RFC 3339 date.",
                                  "example": "1991-03-08 08:00:00",
                                  "type": "string"
                                },
                                "email": {
                                  "description": "Individual's email address.\nIf utilizing Lithic for chargeback processing, this customer email address may be used to communicate dispute status and resolution.\n",
                                  "example": "tom@middle-earth.com",
                                  "type": "string"
                                },
                                "first_name": {
                                  "description": "Individual's first name, as it appears on government-issued identity documents.",
                                  "example": "Tom",
                                  "type": "string"
                                },
                                "government_id": {
                                  "description": "Government-issued identification number (required for identity verification and compliance with banking regulations). Social Security Numbers (SSN) and Individual Taxpayer Identification Numbers (ITIN) are currently supported, entered as full nine-digits, with or without hyphens\n",
                                  "example": "111-23-1412",
                                  "type": "string"
                                },
                                "last_name": {
                                  "description": "Individual's last name, as it appears on government-issued identity documents.",
                                  "example": "Bombadil",
                                  "type": "string"
                                },
                                "phone_number": {
                                  "description": "Individual's phone number, entered in E.164 format.\n",
                                  "example": "+12124007676",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            {
                              "required": [
                                "address",
                                "dob",
                                "email",
                                "first_name",
                                "government_id",
                                "last_name"
                              ],
                              "type": "object"
                            }
                          ],
                          "description": "Individuals associated with a KYB application. Phone number is optional."
                        },
                        "minItems": 0,
                        "type": "array"
                      },
                      "business_entity": {
                        "properties": {
                          "address": {
                            "description": "Business's physical address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable.\n",
                            "properties": {
                              "address1": {
                                "description": "Valid deliverable address (no PO boxes).",
                                "example": "123 Old Forest Way",
                                "type": "string"
                              },
                              "address2": {
                                "description": "Unit or apartment number (if applicable).",
                                "type": "string"
                              },
                              "city": {
                                "description": "Name of city.",
                                "example": "Omaha",
                                "type": "string"
                              },
                              "country": {
                                "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                "example": "USA",
                                "type": "string"
                              },
                              "postal_code": {
                                "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                "example": "68022",
                                "type": "string"
                              },
                              "state": {
                                "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                "example": "NE",
                                "type": "string"
                              }
                            },
                            "required": ["address1", "city", "country", "postal_code", "state"],
                            "type": "object"
                          },
                          "dba_business_name": {
                            "description": "Any name that the business operates under that is not its legal business name (if applicable).",
                            "type": "string"
                          },
                          "government_id": {
                            "description": "Government-issued identification number. US Federal Employer Identification Numbers (EIN) are currently supported, entered as full nine-digits, with or without hyphens.\n",
                            "example": "114-123-1513",
                            "type": "string"
                          },
                          "legal_business_name": {
                            "description": "Legal (formal) business name.",
                            "example": "Acme, Inc.",
                            "type": "string"
                          },
                          "parent_company": {
                            "description": "Parent company name (if applicable).",
                            "type": "string"
                          },
                          "phone_numbers": {
                            "description": "One or more of the business's phone number(s), entered as a list in E.164 format.",
                            "items": {
                              "description": "Business phone number, entered in E.164 format.",
                              "example": "+12124007676",
                              "type": "string"
                            },
                            "minItems": 1,
                            "type": "array"
                          }
                        },
                        "required": ["address", "government_id", "legal_business_name", "phone_numbers"],
                        "type": "object",
                        "description": "Information for business for which the account is being opened and KYB is being run."
                      },
                      "control_person": {
                        "allOf": [
                          {
                            "properties": {
                              "address": {
                                "description": "Individual's current address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable. Only USA addresses are currently supported.\n",
                                "properties": {
                                  "address1": {
                                    "description": "Valid deliverable address (no PO boxes).",
                                    "example": "123 Old Forest Way",
                                    "type": "string"
                                  },
                                  "address2": {
                                    "description": "Unit or apartment number (if applicable).",
                                    "type": "string"
                                  },
                                  "city": {
                                    "description": "Name of city.",
                                    "example": "Omaha",
                                    "type": "string"
                                  },
                                  "country": {
                                    "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                    "example": "USA",
                                    "type": "string"
                                  },
                                  "postal_code": {
                                    "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                    "example": "68022",
                                    "type": "string"
                                  },
                                  "state": {
                                    "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                    "example": "NE",
                                    "type": "string"
                                  }
                                },
                                "required": ["address1", "city", "country", "postal_code", "state"],
                                "type": "object"
                              },
                              "dob": {
                                "description": "Individual's date of birth, as an RFC 3339 date.",
                                "example": "1991-03-08 08:00:00",
                                "type": "string"
                              },
                              "email": {
                                "description": "Individual's email address.\nIf utilizing Lithic for chargeback processing, this customer email address may be used to communicate dispute status and resolution.\n",
                                "example": "tom@middle-earth.com",
                                "type": "string"
                              },
                              "first_name": {
                                "description": "Individual's first name, as it appears on government-issued identity documents.",
                                "example": "Tom",
                                "type": "string"
                              },
                              "government_id": {
                                "description": "Government-issued identification number (required for identity verification and compliance with banking regulations). Social Security Numbers (SSN) and Individual Taxpayer Identification Numbers (ITIN) are currently supported, entered as full nine-digits, with or without hyphens\n",
                                "example": "111-23-1412",
                                "type": "string"
                              },
                              "last_name": {
                                "description": "Individual's last name, as it appears on government-issued identity documents.",
                                "example": "Bombadil",
                                "type": "string"
                              },
                              "phone_number": {
                                "description": "Individual's phone number, entered in E.164 format.\n",
                                "example": "+12124007676",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          {
                            "required": [
                              "address",
                              "dob",
                              "email",
                              "first_name",
                              "government_id",
                              "last_name"
                            ],
                            "type": "object"
                          }
                        ],
                        "description": "Individuals associated with a KYB application. Phone number is optional."
                      },
                      "external_id": {
                        "description": "A user provided id that can be used to link an account holder with an external system",
                        "type": "string"
                      },
                      "kyb_passed_timestamp": {
                        "description": "An RFC 3339 timestamp indicating when precomputed KYC was completed on the business with a pass result.\n\nThis field is required only if workflow type is `KYB_BYO`.\n",
                        "example": "2022-03-08 08:00:00",
                        "type": "string"
                      },
                      "nature_of_business": {
                        "description": "Short description of the company's line of business (i.e., what does the company do?).",
                        "example": "Software company selling solutions to the restaurant industry",
                        "type": "string"
                      },
                      "tos_timestamp": {
                        "description": "An RFC 3339 timestamp indicating when the account holder accepted the applicable legal agreements (e.g., cardholder terms) as agreed upon during API customer's implementation with Lithic.",
                        "example": "2022-03-08 08:00:00",
                        "type": "string"
                      },
                      "website_url": {
                        "description": "Company website URL.",
                        "example": "www.mybusiness.com",
                        "type": "string"
                      },
                      "workflow": {
                        "description": "Specifies the type of KYB workflow to run.",
                        "enum": ["KYB_BASIC", "KYB_BYO"],
                        "type": "string"
                      }
                    },
                    "required": [
                      "beneficial_owner_entities",
                      "beneficial_owner_individuals",
                      "business_entity",
                      "control_person",
                      "nature_of_business",
                      "tos_timestamp",
                      "workflow"
                    ],
                    "type": "object"
                  },
                  {
                    "properties": {
                      "external_id": {
                        "description": "A user provided id that can be used to link an account holder with an external system",
                        "type": "string"
                      },
                      "individual": {
                        "description": "Information on individual for whom the account is being opened and KYC is being run.",
                        "allOf": [
                          {
                            "properties": {
                              "address": {
                                "description": "Individual's current address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable. Only USA addresses are currently supported.\n",
                                "properties": {
                                  "address1": {
                                    "description": "Valid deliverable address (no PO boxes).",
                                    "example": "123 Old Forest Way",
                                    "type": "string"
                                  },
                                  "address2": {
                                    "description": "Unit or apartment number (if applicable).",
                                    "type": "string"
                                  },
                                  "city": {
                                    "description": "Name of city.",
                                    "example": "Omaha",
                                    "type": "string"
                                  },
                                  "country": {
                                    "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                    "example": "USA",
                                    "type": "string"
                                  },
                                  "postal_code": {
                                    "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                    "example": "68022",
                                    "type": "string"
                                  },
                                  "state": {
                                    "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                    "example": "NE",
                                    "type": "string"
                                  }
                                },
                                "required": ["address1", "city", "country", "postal_code", "state"],
                                "type": "object"
                              },
                              "dob": {
                                "description": "Individual's date of birth, as an RFC 3339 date.",
                                "example": "1991-03-08 08:00:00",
                                "type": "string"
                              },
                              "email": {
                                "description": "Individual's email address.\nIf utilizing Lithic for chargeback processing, this customer email address may be used to communicate dispute status and resolution.\n",
                                "example": "tom@middle-earth.com",
                                "type": "string"
                              },
                              "first_name": {
                                "description": "Individual's first name, as it appears on government-issued identity documents.",
                                "example": "Tom",
                                "type": "string"
                              },
                              "government_id": {
                                "description": "Government-issued identification number (required for identity verification and compliance with banking regulations). Social Security Numbers (SSN) and Individual Taxpayer Identification Numbers (ITIN) are currently supported, entered as full nine-digits, with or without hyphens\n",
                                "example": "111-23-1412",
                                "type": "string"
                              },
                              "last_name": {
                                "description": "Individual's last name, as it appears on government-issued identity documents.",
                                "example": "Bombadil",
                                "type": "string"
                              },
                              "phone_number": {
                                "description": "Individual's phone number, entered in E.164 format.\n",
                                "example": "+12124007676",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          {
                            "required": [
                              "address",
                              "dob",
                              "email",
                              "first_name",
                              "government_id",
                              "last_name",
                              "phone_number"
                            ],
                            "type": "object"
                          }
                        ]
                      },
                      "kyc_passed_timestamp": {
                        "description": "An RFC 3339 timestamp indicating when precomputed KYC was completed on the individual with a pass result.\n\nThis field is required only if workflow type is `KYC_BYO`.\n",
                        "type": "string"
                      },
                      "tos_timestamp": {
                        "description": "An RFC 3339 timestamp indicating when the account holder accepted the applicable legal agreements (e.g., cardholder terms) as agreed upon during API customer's implementation with Lithic.",
                        "type": "string"
                      },
                      "workflow": {
                        "description": "Specifies the type of KYC workflow to run.",
                        "enum": ["KYC_ADVANCED", "KYC_BASIC", "KYC_BYO"],
                        "type": "string"
                      }
                    },
                    "required": ["individual", "tos_timestamp", "workflow"],
                    "type": "object"
                  },
                  {
                    "properties": {
                      "address": {
                        "description": "KYC Exempt user's current address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable. Only USA addresses are currently supported.\n",
                        "properties": {
                          "address1": {
                            "description": "Valid deliverable address (no PO boxes).",
                            "example": "123 Old Forest Way",
                            "type": "string"
                          },
                          "address2": {
                            "description": "Unit or apartment number (if applicable).",
                            "type": "string"
                          },
                          "city": {
                            "description": "Name of city.",
                            "example": "Omaha",
                            "type": "string"
                          },
                          "country": {
                            "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                            "example": "USA",
                            "type": "string"
                          },
                          "postal_code": {
                            "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                            "example": "68022",
                            "type": "string"
                          },
                          "state": {
                            "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                            "example": "NE",
                            "type": "string"
                          }
                        },
                        "required": ["address1", "city", "country", "postal_code", "state"],
                        "type": "object"
                      },
                      "business_account_token": {
                        "description": "Only applicable for customers using the KYC-Exempt workflow to enroll authorized users of businesses. Pass the account_token of the enrolled business associated with the AUTHORIZED_USER in this field.",
                        "type": "string"
                      },
                      "email": {
                        "description": "The KYC Exempt user's email",
                        "type": "string"
                      },
                      "external_id": {
                        "description": "A user provided id that can be used to link an account holder with an external system",
                        "type": "string"
                      },
                      "first_name": {
                        "description": "The KYC Exempt user's first name",
                        "type": "string"
                      },
                      "kyc_exemption_type": {
                        "description": "Specifies the type of KYC Exempt user",
                        "enum": ["AUTHORIZED_USER", "PREPAID_CARD_USER"],
                        "type": "string"
                      },
                      "last_name": {
                        "description": "The KYC Exempt user's last name",
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "The KYC Exempt user's phone number",
                        "type": "string"
                      },
                      "workflow": {
                        "description": "Specifies the workflow type. This must be 'KYC_EXEMPT'",
                        "enum": ["KYC_EXEMPT"],
                        "type": "string"
                      }
                    },
                    "required": [
                      "email",
                      "first_name",
                      "kyc_exemption_type",
                      "last_name",
                      "phone_number",
                      "workflow"
                    ],
                    "type": "object"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "acceptedEvaluationResponse": {
                    "summary": "Accepted KYC/KYB evaluation response",
                    "value": {
                      "account_token": "b68b7424-aa69-4cbc-a946-30d90181b621",
                      "business_account_token": "e87db14a-4abf-4901-adad-5d5c9f46aff2",
                      "status": "ACCEPTED",
                      "status_reasons": [],
                      "token": "12345678-aa69-4cbc-a946-30d90181b621"
                    }
                  },
                  "pendingResubmitResponse": {
                    "summary": "Pending resubmit KYC evaluation response",
                    "value": {
                      "account_token": "b68b7424-aa69-4cbc-a946-30d90181b621",
                      "status": "PENDING_RESUBMIT",
                      "status_reasons": ["NAME_VERIFICATION_FAILURE"],
                      "token": "12345678-aa69-4cbc-a946-30d90181b621"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "account_token": {
                      "description": "Globally unique identifier for the account.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "created": {
                      "description": "Timestamp of when the account holder was created.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "external_id": {
                      "description": "Customer-provided token that indicates a relationship with an object outside of the Lithic ecosystem.",
                      "format": "string",
                      "type": "string"
                    },
                    "status": {
                      "description": "KYC and KYB evaluation states.\nNote: `PENDING_RESUBMIT` and `PENDING_DOCUMENT` are only applicable for the `ADVANCED` workflow.\n",
                      "enum": ["ACCEPTED", "PENDING_DOCUMENT", "PENDING_RESUBMIT", "REJECTED"],
                      "type": "string"
                    },
                    "status_reasons": {
                      "description": "Reason for the evaluation status.",
                      "items": {
                        "enum": [
                          "ADDRESS_VERIFICATION_FAILURE",
                          "AGE_THRESHOLD_FAILURE",
                          "COMPLETE_VERIFICATION_FAILURE",
                          "DOB_VERIFICATION_FAILURE",
                          "ID_VERIFICATION_FAILURE",
                          "MAX_DOCUMENT_ATTEMPTS",
                          "MAX_RESUBMISSION_ATTEMPTS",
                          "NAME_VERIFICATION_FAILURE",
                          "OTHER_VERIFICATION_FAILURE",
                          "RISK_THRESHOLD_FAILURE",
                          "WATCHLIST_ALERT_FAILURE"
                        ],
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "token": {
                      "description": "Globally unique identifier for the account holder.",
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "required": ["account_token", "status", "status_reasons", "token"],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "debugging_request_id": {
                      "description": "Identifier to help debug an error.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Explanation of error response.",
                      "type": "string"
                    }
                  },
                  "required": ["debugging_request_id", "message"],
                  "type": "object"
                }
              }
            },
            "description": "A parameter in the query given in the request does not match the valid queries for the endpoint."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "debugging_request_id": {
                      "description": "Identifier to help debug an error.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Explanation of error response.",
                      "type": "string"
                    }
                  },
                  "required": ["debugging_request_id", "message"],
                  "type": "object"
                }
              }
            },
            "description": "|   |   |\n|---|---|\n| User has not been authenticated | Invalid or missing API key |\n| API key is not active | The API key used is no longer active |\n| Could not find API key | The API key provided is not associated with any user |\n| Please provide API key in Authorization header | The Authorization header is not in the request |\n| Please provide API key in the form Authorization: [api-key] | The Authorization header is not formatted properly |\n| Insufficient privileges. Issuing API key required | Write access requires an Issuing API key. Reach out at [lithic.com/contact](https://lithic.com/contact) |\n| Insufficient privileges to create virtual cards. | Creating virtual cards requires an additional privilege | Reach out at [lithic.com/contact](https://lithic.com/contact) |\n"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "debugging_request_id": {
                      "description": "Identifier to help debug an error.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Explanation of error response.",
                      "type": "string"
                    }
                  },
                  "required": ["debugging_request_id", "message"],
                  "type": "object"
                }
              }
            },
            "description": "Client has exceeded the number of allowed requests in a given time period.\n\n|   |   |\n|---|---|\n| Rate limited, too many requests per second | User has exceeded their per second rate limit |\n| Rate limited, reached daily limit | User has exceeded their daily rate limit |\n| Rate limited, too many keys tried | One IP has queried too many different API keys |\n"
          }
        },
        "summary": "Create an individual or business account holder",
        "tags": ["Account Holder"]
      }
    },
    "/account_holders/{account_holder_token}": {
      "get": {
        "description": "Get an Individual or Business Account Holder and/or their KYC or KYB evaluation status.",
        "operationId": "getAccountHolder",
        "parameters": [
          {
            "description": "Globally unique identifier for the account holder.",
            "examples": {
              "accountHolderTokenExample": {
                "summary": "A sample account holder token",
                "value": "65db64b2-ae89-491a-97d9-f64788f8b2ab"
              }
            },
            "in": "path",
            "name": "account_holder_token",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "acceptedEvaluationResponse": {
                    "summary": "Accepted KYC evaluation response",
                    "value": {
                      "account_token": "b68b7424-aa69-4cbc-a946-30d90181b621",
                      "business_account_token": "6b67b340-ed11-4463-a33d-0d7f7fdcd28c",
                      "email": "test@lithic.com",
                      "phone_number": "5555555555",
                      "status": "ACCEPTED",
                      "status_reasons": [],
                      "token": "12345678-aa69-4cbc-a946-30d90181b621"
                    }
                  },
                  "pendingDocumentResponse": {
                    "summary": "Pending document submission KYC evaluation response",
                    "value": {
                      "account_token": "b68b7424-aa69-4cbc-a946-30d90181b621",
                      "status": "PENDING_DOCUMENT",
                      "status_reasons": ["DOB_VERIFICATION_FAILURE"],
                      "token": "12345678-aa69-4cbc-a946-30d90181b621"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "account_token": {
                      "description": "Globally unique identifier for the account.",
                      "format": "uuid",
                      "type": "string"
                    },
                    "beneficial_owner_entities": {
                      "description": "Only present when user_type == \"BUSINESS\". List of all entities with >25% ownership in the company.\n",
                      "items": {
                        "properties": {
                          "address": {
                            "description": "Business's physical address - PO boxes, UPS drops, and FedEx drops are not acceptable; APO/FPO are acceptable.\n",
                            "properties": {
                              "address1": {
                                "description": "Valid deliverable address (no PO boxes).",
                                "example": "123 Old Forest Way",
                                "type": "string"
                              },
                              "address2": {
                                "description": "Unit or apartment number (if applicable).",
                                "type": "string"
                              },
                              "city": {
                                "description": "Name of city.",
                                "example": "Omaha",
                                "type": "string"
                              },
                              "country": {
                                "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                "example": "USA",
                                "type": "string"
                              },
                              "postal_code": {
                                "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                "example": "68022",
                                "type": "string"
                              },
                              "state": {
                                "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                "example": "NE",
                                "type": "string"
                              }
                            },
                            "required": ["address1", "city", "country", "postal_code", "state"],
                            "type": "object"
                          },
                          "dba_business_name": {
                            "description": "Any name that the business operates under that is not its legal business name (if applicable).",
                            "type": "string"
                          },
                          "government_id": {
                            "description": "Government-issued identification number. US Federal Employer Identification Numbers (EIN) are currently supported, entered as full nine-digits, with or without hyphens.\n",
                            "example": "114-123-1513",
                            "type": "string"
                          },
                          "legal_business_name": {
                            "description": "Legal (formal) business name.",
                            "example": "Acme, Inc.",
                            "type": "string"
                          },
                          "parent_company": {
                            "description": "Parent company name (if applicable).",
                            "type": "string"
                          },
                          "phone_numbers": {
                            "description": "One or more of the business's phone number(s), entered as a list in E.164 format.",
                            "items": {
                              "description": "Business phone number, entered in E.164 format.",
                              "example": "+12124007676",
                              "type": "string"
                            },
                            "minItems": 1,
                            "type": "array"
                          }
                        },
                        "required": ["address", "government_id", "legal_business_name", "phone_numbers"],
                        "type": "object"
                      },
                      "minItems": 0,
                      "type": "array"
                    },
                    "beneficial_owner_individuals": {
                      "description": "Only present when user_type == \"BUSINESS\". List of all individuals with >25% ownership in the company.\n",
                      "items": {
                        "description": "Information about an individual associated with an account holder. A subset of the information provided via KYC. For example, we do not return the government id.",
                        "properties": {
                          "address": {
                            "description": "Individual's current address",
                            "properties": {
                              "address1": {
                                "description": "Valid deliverable address (no PO boxes).",
                                "example": "123 Old Forest Way",
                                "type": "string"
                              },
                              "address2": {
                                "description": "Unit or apartment number (if applicable).",
                                "type": "string"
                              },
                              "city": {
                                "description": "Name of city.",
                                "example": "Omaha",
                                "type": "string"
                              },
                              "country": {
                                "description": "Valid country code. Only USA is currently supported, entered in uppercase ISO 3166-1 alpha-3 three-character format.\n",
                                "example": "USA",
                                "type": "string"
                              },
                              "postal_code": {
                                "description": "Valid postal code. Only USA ZIP codes are currently supported, entered as a five-digit ZIP or nine-digit ZIP+4.\n",
                                "example": "68022",
                                "type": "string"
                              },
                              "state": {
                                "description": "Valid state code. Only USA state codes are currently supported, entered in uppercase ISO 3166-2 two-character format.\n",
                                "example": "NE",
                                "type": "string"
                              }
                            },
                            "required": ["address1", "city", "country", "postal_code", "state"],
                            "type": "object"
                          },
                          "dob": {
                            "description": "Individual's date of birth, as an RFC 3339 date.",
                            "example": "1991-03-08 08:00:00",
                            "type": "string"
[...]
