openapi: 3.1.0
info:
  contact:
    email: support@lithic.com
  description: |
    The Lithic Developer API is designed to provide a predictable programmatic interface for accessing your Lithic account through an API and transaction webhooks.
    Note that your API key is a secret and should be treated as such. Don't share it with anyone, including us. We will never ask you for it.
  termsOfService: https://lithic.com/legal#terms
  title: Lithic Developer API
  version: 1.0.0
servers:
  - description: Sandbox environment that provides key functionality mirroring production
    url: https://sandbox.lithic.com
security:
  - ApiKeyAuth: []
tags:
  - name: 3DS
  - name: Account
  - name: Book Transfer
  - name: Account Holder
  - name: Auth Stream Access (ASA)
  - name: Authorization Rules
  - name: Balance
  - name: Card
  - name: Credit Product
  - name: Dispute
  - name: Event
  - name: External Bank Account
  - name: External Payments
  - name: Financial Account
  - name: Management Operations
  - name: Payment
  - name: Responder Endpoints
  - name: Settlement Report
  - name: Statements
  - name: Status
  - name: Tokenization
  - name: Transaction
paths:
  /v1/account_holders:
    get:
      description: Get a list of individual or business account holders and their KYC or KYB evaluation status.
      operationId: getAccountHolders
      parameters:
        - description: If applicable, represents the external_id associated with the account_holder.
          example: 00000000-0000-0000-0000-000000000001
          in: query
          name: external_id
          schema:
            format: uuid
            type: string
        - description: The number of account_holders to limit the response to.
          example: 10
          in: query
          name: limit
          schema:
            type: integer
        - description: (Individual Account Holders only) The first name of the account holder. The query is case insensitive and supports partial matches.
          example: John
          in: query
          name: first_name
          schema:
            type: string
        - description: (Individual Account Holders only) The last name of the account holder. The query is case insensitive and supports partial matches.
          example: Appleseed
          in: query
          name: last_name
          schema:
            type: string
        - description: (Business Account Holders only) The legal business name of the account holder. The query is case insensitive and supports partial matches.
          example: Busy Business, Inc.
          in: query
          name: legal_business_name
          schema:
            type: string
        - description: Phone number of the account holder. The query must be an exact match.
          example: 5555555555
          in: query
          name: phone_number
          schema:
            type: string
        - description: Email address of the account holder. The query must be an exact match, case insensitive.
          example: example@domain.com
          in: query
          name: email
          schema:
            type: string
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
      responses:
        '200':
          content:
            application/json:
              examples:
                getAccountHoldersResponse:
                  value:
                    data:
                      - account_token: 6b67b340-ed11-4463-a33d-0d7f7fdcd28c
                        business_account_token: 00000000-0000-0000-0000-000000000000
                        created: '2024-01-11T19:50:36.105448'
                        email: john@appleseed.com
                        exemption_type: AUTHORIZED_USER
                        external_id: '5555555555'
                        individual:
                          address:
                            address1: 123 Main Street
                            city: New York
                            country: USA
                            postal_code: '10128'
                            state: NY
                          dob: '2000-01-01'
                          email: john@appleseed.com
                          first_name: John
                          last_name: Appleseed
                          phone_number: '5555555555'
                          entity_token: 49c978db-20c4-46d8-9db4-b0ef28c03533
                        phone_number: '5555555555'
                        status: ACCEPTED
                        token: b68b7424-aa69-4cbc-a946-30d90181b621
                        user_type: INDIVIDUAL
                        verification_application:
                          created: '2024-01-11T19:58:24.821848'
                          status: ACCEPTED
                          status_reasons: []
                          updated: '2024-01-11T19:58:24.821848'
                      - account_token: 732f7328-a2d7-4281-a264-e8cb5af8d392
                        beneficial_owner_entities:
                          - address:
                              address1: 22 Street North
                              city: New York
                              country: US
                              postal_code: '10004'
                              state: NY
                            dba_business_name: Busy Business, Inc.
                            government_id: 98-7654321
                            legal_business_name: Busy Business, Inc.
                            parent_company: Example company
                            phone_numbers:
                              - '5555555555'
                            entity_token: d89185ca-1fad-4f33-905c-416b4270a5d4
                        business_account_token: 00000000-0000-0000-0000-000000000000
                        business_entity:
                          address:
                            address1: 22 Street North
                            city: New York
                            country: US
                            postal_code: '10004'
                            state: NY
                          dba_business_name: Busy Business, Inc.
                          government_id: 98-7654321
                          legal_business_name: Busy Business, Inc.
                          parent_company: Example company
                          phone_numbers:
                            - '5555555555'
                          entity_token: f360a3c0-24e6-4852-ae82-27916a5c4e86
                        control_person:
                          address:
                            address1: 451 New Forest Way
                            city: Springfield
                            country: US
                            postal_code: '68022'
                            state: IL
                          dob: '1991-03-08T08:00:00Z'
                          email: john@busybusiness.com
                          first_name: John
                          last_name: Appleseed
                          phone_number: '5555555555'
                          entity_token: 9d657ba0-7c8a-4946-a596-f99d978a4137
                        created: '2024-01-11T19:50:36.105449'
                        exemption_type: AUTHORIZED_USER
                        external_id: 851030f1-9b7b-4939-8ac9-161bd972d26f
                        token: fa68ed76-9d02-4d45-8a3f-782f3b6a8b3f
                        user_type: BUSINESS
                        verification_application:
                          created: '2024-01-11T19:50:36.105449'
                          status: PENDING_REVIEW
                          status_reasons: []
                          updated: '2024-01-11T19:50:36.105449'
                    has_more: false
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AccountHolder'
                    type: array
                  has_more:
                    description: Whether there are more accounts to be retrieved.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get a list of individual or business account holders
      tags:
        - Account Holder
    post:
      description: |-
        Run an individual or business's information through the Customer Identification Program (CIP).
        All calls to this endpoint will return an immediate response - though in some cases, the response may indicate the enrollment is under review or further action will be needed to complete the account enrollment process.
        This endpoint can only be used on accounts that are part of the program that the calling API key manages.
      operationId: postAccountHolders
      requestBody:
        content:
          application/json:
            examples:
              kybRequest:
                summary: Create an account holder with KYB workflow
                value:
                  beneficial_owner_entities:
                    - address:
                        address1: 300 Normal Forest Way
                        city: Portland
                        country: USA
                        postal_code: '90210'
                        state: OR
                      dba_name: MHoldings
                      entity_type: LLC
                      government_id: 98-7654321
                      incorporation_country: US
                      incorporation_date: '2015-09-17'
                      incorporation_state: NV
                      legal_business_name: Majority Holdings LLC
                      phone_numbers:
                        - '+12124007676'
                  beneficial_owner_individuals:
                    - address:
                        address1: 300 Normal Forest Way
                        city: Portland
                        country: USA
                        postal_code: '90210'
                        state: OR
                      dob: '1991-03-08T08:00:00Z'
                      email: tim@left-earth.com
                      first_name: Timmy
                      government_id: 211-23-1412
                      last_name: Turner
                      phone_number: '+12024007611'
                  business_entity:
                    address:
                      address1: 123 Old Forest Way
                      city: Omaha
                      country: USA
                      postal_code: '61022'
                      state: NE
                    dba_name: Example Business Solutions
                    entity_type: Corporation
                    government_id: 12-3456789
                    incorporation_country: US
                    incorporation_date: '2010-06-28'
                    incorporation_state: DE
                    legal_business_name: Busy Business, Inc.
                    phone_numbers:
                      - '+12124007676'
                  control_person:
                    address:
                      address1: 451 New Forest Way
                      city: Springfield
                      country: USA
                      postal_code: '68022'
                      state: IL
                    birthdate: '1980-04-12'
                    dob: '1991-03-08T08:00:00Z'
                    email: tom@middle-pluto.com
                    first_name: Tom
                    government_id: 111-23-1412
                    last_name: Timothy
                    nationality: US
                    phone_number: '+12024008176'
                    title: CEO
                  kyb_passed_timestamp: '2022-03-08T08:00:00Z'
                  nature_of_business: Software company selling solutions to the restaurant industry
                  tos_timestamp: '2022-03-08T08:00:00Z'
                  website_url: https://www.mybusiness.com
                  workflow: KYB_BASIC
              kycExemptRequest:
                summary: Create an account holder with KYC Exempt workflow
                value:
                  address:
                    address1: 123 Old Forest Way
                    city: Omaha
                    country: USA
                    postal_code: '68022'
                    state: NE
                  business_account_token: e87db14a-4abf-4901-adad-5d5c9f46aff2
                  email: tom@middle-earth.com
                  first_name: Tom
                  kyc_exemption_type: AUTHORIZED_USER
                  last_name: Bombadil
                  phone_number: '+12124007676'
                  workflow: KYC_EXEMPT
              kycRequest:
                summary: Create an account holder with KYC workflow
                value:
                  individual:
                    address:
                      address1: 123 Old Forest Way
                      city: Omaha
                      country: USA
                      postal_code: '68022'
                      state: NE
                    dob: '1991-03-08 08:00:00'
                    email: tom@middle-earth.com
                    first_name: Tom
                    government_id: 111-23-1412
                    last_name: Bombadil
                    phone_number: '+12124007676'
                  tos_timestamp: '2022-03-08 08:00:00'
                  workflow: KYC_ADVANCED
            schema:
              oneOf:
                - $ref: '#/components/schemas/Kyb'
                - $ref: '#/components/schemas/Kyc'
                - $ref: '#/components/schemas/KycExempt'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                acceptedEvaluationResponse:
                  summary: Accepted KYC/KYB evaluation response
                  value:
                    account_token: b68b7424-aa69-4cbc-a946-30d90181b621
                    business_account_token: e87db14a-4abf-4901-adad-5d5c9f46aff2
                    status: ACCEPTED
                    status_reasons: []
                    token: 12345678-aa69-4cbc-a946-30d90181b621
                    created: '2024-09-16T20:13:41.865274'
                pendingResubmitResponse:
                  summary: Pending resubmit KYC evaluation response
                  value:
                    account_token: b68b7424-aa69-4cbc-a946-30d90181b621
                    status: PENDING_RESUBMIT
                    status_reasons:
                      - NAME_VERIFICATION_FAILURE
                    token: 12345678-aa69-4cbc-a946-30d90181b621
                    created: '2024-09-16T20:13:41.865274'
                pendingKYBReviewResponse:
                  summary: Pending review response for a KYB_BASIC request
                  value:
                    account_token: 6016af53-87d4-42aa-b021-0170644d6458
                    status: PENDING_REVIEW
                    status_reasons:
                      - PRIMARY_BUSINESS_ENTITY_ADDRESS_VERIFICATION_FAILURE
                    token: 12345678-aa69-4cbc-a946-30d90181b621
                    created: '2024-09-16T20:13:41.865274'
                    required_documents:
                      - entity_token: 48afea0a-38b0-44e4-aaa7-c2b5413da9d3
                        valid_documents:
                          - EIN_LETTER
                          - TAX_RETURN
                          - CERTIFICATE_OF_GOOD_STANDING
                          - ARTICLES_OF_INCORPORATION
                          - ARTICLES_OF_ORGANIZATION
                          - CERTIFICATE_OF_FORMATION
                          - BYLAWS
                          - GOVERNMENT_BUSINESS_LICENSE
                          - PARTNERSHIP_AGREEMENT
                          - BANK_STATEMENT
                          - UTILITY_BILL_STATEMENT
                        status_reasons:
                          - PRIMARY_BUSINESS_ENTITY_ADDRESS_VERIFICATION_FAILURE
              schema:
                properties:
                  account_token:
                    description: Globally unique identifier for the account.
                    format: uuid
                    type: string
                  created:
                    description: Timestamp of when the account holder was created.
                    format: date-time
                    type: string
                  external_id:
                    description: Customer-provided token that indicates a relationship with an object outside of the Lithic ecosystem.
                    format: string
                    type: string
                  status:
                    description: |
                      KYC and KYB evaluation states.

                      Note:
                      * `PENDING_RESUBMIT` and `PENDING_DOCUMENT` are only applicable for the `KYC_ADVANCED` workflow.
                      * `PENDING_REVIEW` is only applicable for the `KYB_BASIC` workflow.
                    enum:
                      - ACCEPTED
                      - PENDING_REVIEW
                      - PENDING_DOCUMENT
                      - PENDING_RESUBMIT
                      - REJECTED
                    type: string
                  status_reasons:
                    description: Reason for the evaluation status.
                    items:
                      $ref: '#/components/schemas/status-reasons'
                    type: array
                  required_documents:
                    description: Only present for "KYB_BASIC" and "KYC_ADVANCED" workflows. A list of documents required for the account holder to be approved.
                    type: array
                    items:
                      $ref: '#/components/schemas/required-document'
                  token:
                    description: Globally unique identifier for the account holder.
                    format: uuid
                    type: string
                required:
                  - account_token
                  - status
                  - status_reasons
                  - token
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Create an individual or business account holder
      tags:
        - Account Holder
  /v1/account_holders/{account_holder_token}:
    get:
      description: Get an Individual or Business Account Holder and/or their KYC or KYB evaluation status.
      operationId: getAccountHolder
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      responses:
        '200':
          content:
            application/json:
              examples:
                kycAcceptedReview:
                  summary: Accepted KYC evaluation response
                  value:
                    token: b68b7424-aa69-4cbc-a946-30d90181b621
                    account_token: 6b67b340-ed11-4463-a33d-0d7f7fdcd28c
                    business_account_token: 5310469f-3a16-44ce-89f8-cdc4446fcfdf
                    external_id: ''
                    created: '2024-01-11T19:50:36.105449'
                    user_type: INDIVIDUAL
                    exemption_type: ''
                    verification_application:
                      created: '2024-01-11T19:50:36.105449'
                      updated: '2024-01-11T19:50:36.105449'
                      status: ACCEPTED
                      status_reasons: []
                    individual:
                      address:
                        address1: 451 New Forest Way
                        city: Springfield
                        state: IL
                        postal_code: '68022'
                        country: US
                      dob: '1991-03-08T08:00:00Z'
                      email: john@appleseed.com
                      first_name: John
                      last_name: Appleseed
                      phone_number: '5555555555'
                      entity_token: fd771a07-c5c2-42f3-a53c-a6c79c6c0d07
                    email: john@appleseed.com
                    phone_number: '5555555555'
                    status: ACCEPTED
                kybBasicPendingReview:
                  summary: Pending review submission for a KYB_BASIC account_holder
                  value:
                    token: fa68ed76-9d02-4d45-8a3f-782f3b6a8b3f
                    account_token: 732f7328-a2d7-4281-a264-e8cb5af8d392
                    business_account_token: 00000000-0000-0000-0000-000000000000
                    external_id: ''
                    created: '2024-01-11T19:50:36.105449'
                    user_type: BUSINESS
                    exemption_type: ''
                    verification_application:
                      created: '2024-01-11T19:50:36.105449'
                      updated: '2024-01-11T19:50:36.105449'
                      status: PENDING_REVIEW
                      status_reasons:
                        - PRIMARY_BUSINESS_ENTITY_ADDRESS_VERIFICATION_FAILURE
                    required_documents:
                      - entity_token: 83cf25ae-c14f-4d10-9fa2-0119f36c7286
                        status_reasons:
                          - PRIMARY_BUSINESS_ENTITY_ADDRESS_VERIFICATION_FAILURE
                        valid_documents:
                          - EIN_LETTER
                          - TAX_RETURN
                          - CERTIFICATE_OF_GOOD_STANDING
                          - ARTICLES_OF_INCORPORATION
                          - ARTICLES_OF_ORGANIZATION
                          - CERTIFICATE_OF_FORMATION
                          - BYLAWS
                          - GOVERNMENT_BUSINESS_LICENSE
                          - PARTNERSHIP_AGREEMENT
                          - BANK_STATEMENT
                          - UTILITY_BILL_STATEMENT
                    business_entity:
                      address:
                        address1: 22 Street North
                        city: New York
                        state: NY
                        postal_code: '10004'
                        country: US
                      dba_business_name: Busy Business, Inc.
                      government_id: 98-7654321
                      legal_business_name: Busy Business, Inc.
                      parent_company: Example company
                      phone_numbers:
                        - '5555555555'
                      entity_token: 05cc03c9-dea6-4d17-a11e-0f3ea57d51a5
                    control_person:
                      address:
                        address1: 451 New Forest Way
                        city: Springfield
                        state: IL
                        postal_code: '68022'
                        country: US
                      dob: '1991-03-08T08:00:00Z'
                      email: john@appleseed.com
                      first_name: John
                      last_name: Appleseed
                      phone_number: '5555555555'
                      entity_token: fd771a07-c5c2-42f3-a53c-a6c79c6c0d07
                    beneficial_owner_entities:
                      - address:
                          address1: 22 Street North
                          city: New York
                          state: NY
                          postal_code: '10004'
                          country: US
                        dba_business_name: Busy Business, Inc.
                        government_id: 98-7654321
                        legal_business_name: Busy Business, Inc.
                        parent_company: Example company
                        phone_numbers:
                          - '5555555555'
                        entity_token: 2b3cdab5-c866-408f-85bc-e707015ee409
              schema:
                $ref: '#/components/schemas/AccountHolder'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get an individual or business account holder
      tags:
        - Account Holder
    patch:
      description: Update the information associated with a particular account holder.
      operationId: patchAccountHolder
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                business_account_token:
                  description: Only applicable for customers using the KYC-Exempt workflow to enroll authorized users of businesses. Pass the account_token of the enrolled business associated with the AUTHORIZED_USER in this field.
                  type: string
                email:
                  description: Account holder's email address. The primary purpose of this field is for cardholder identification and verification during the digital wallet tokenization process.
                  type: string
                phone_number:
                  description: Account holder's phone number, entered in E.164 format. The primary purpose of this field is for cardholder identification and verification during the digital wallet tokenization process.
                  type: string
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  business_account_token:
                    description: Only applicable for customers using the KYC-Exempt workflow to enroll businesses with authorized users. Pass the account_token of the enrolled business associated with the AUTHORIZED_USER in this field.
                    type: string
                  email:
                    description: The newly updated email for the account holder
                    type: string
                  phone_number:
                    description: The newly updated phone_number for the account holder
                    type: string
                  token:
                    description: The token for the account holder that was updated
                    type: string
                type: object
          description: OK
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Update account holder information
      tags:
        - Account Holder
  /v1/account_holders/{account_holder_token}/documents:
    get:
      description: |
        Retrieve the status of account holder document uploads, or retrieve the upload URLs to process your image uploads.

        Note that this is not equivalent to checking the status of the KYC evaluation overall (a document may be successfully uploaded but not be sufficient for KYC to pass).

        In the event your upload URLs have expired, calling this endpoint will refresh them.
        Similarly, in the event a previous account holder document upload has failed, you can use this endpoint to get a new upload URL for the failed image upload.

        When a new document upload is generated for a failed attempt, the response will show an additional entry in the `required_document_uploads` list
        in a `PENDING` state for the corresponding `image_type`.
      operationId: getAccountHolderDocuments
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/document'
                    type: array
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get account holder document uploads
      tags:
        - Account Holder
    post:
      description: |
        Use this endpoint to identify which type of supported government-issued documentation you will upload for further verification.
        It will return two URLs to upload your document images to - one for the front image and one for the back image.

        This endpoint is only valid for evaluations in a `PENDING_DOCUMENT` state.

        Uploaded images must either be a `jpg` or `png` file, and each must be less than 15 MiB. Once both required uploads have been successfully completed, your document will be run through KYC verification.

        If you have registered a webhook, you will receive evaluation updates for any document submission evaluations, as well as for any failed document uploads.

        Two document submission attempts are permitted via this endpoint before a `REJECTED` status is returned and the account creation process is ended. Currently only one type of
        account holder document is supported per KYC verification.
      operationId: postAccountHolderDocuments
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      requestBody:
        content:
          application/json:
            examples:
              recieveLinkForDriversLicense:
                summary: Initiate account holder document upload
                value:
                  document_type: EIN_LETTER
            schema:
              properties:
                document_type:
                  description: The type of document to upload
                  enum:
                    - EIN_LETTER
                    - TAX_RETURN
                    - OPERATING_AGREEMENT
                    - CERTIFICATE_OF_FORMATION
                    - DRIVERS_LICENSE
                    - PASSPORT
                    - PASSPORT_CARD
                    - CERTIFICATE_OF_GOOD_STANDING
                    - ARTICLES_OF_INCORPORATION
                    - ARTICLES_OF_ORGANIZATION
                    - BYLAWS
                    - GOVERNMENT_BUSINESS_LICENSE
                    - PARTNERSHIP_AGREEMENT
                    - SS4_FORM
                    - BANK_STATEMENT
                    - UTILITY_BILL_STATEMENT
                    - SSN_CARD
                    - ITIN_LETTER
                  type: string
                entity_token:
                  description: Globally unique identifier for the entity.
                  type: string
                  format: uuid
              required:
                - document_type
                - entity_token
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Initiate account holder document upload
      tags:
        - Account Holder
  /v1/account_holders/{account_holder_token}/documents/{document_token}:
    get:
      description: |
        Check the status of an account holder document upload, or retrieve the upload URLs to process your image uploads.

        Note that this is not equivalent to checking the status of the KYC evaluation overall (a document may be successfully uploaded but not be sufficient for KYC to pass).

        In the event your upload URLs have expired, calling this endpoint will refresh them.
        Similarly, in the event a document upload has failed, you can use this endpoint to get a new upload URL for the failed image upload.

        When a new account holder document upload is generated for a failed attempt, the response will show an additional entry in the `required_document_uploads` array
        in a `PENDING` state for the corresponding `image_type`.
      operationId: getAccountHolderDocumentByToken
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
        - $ref: '#/components/parameters/documentToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get account holder document upload status
      tags:
        - Account Holder
  /v1/account_holders/{account_holder_token}/resubmit:
    post:
      description: |
        Resubmit a KYC submission. This endpoint should be used in cases where a KYC submission returned a `PENDING_RESUBMIT` result,
        meaning one or more critical KYC fields may have been mis-entered and the individual's identity has not yet been successfully verified.
        This step must be completed in order to proceed with the KYC evaluation.

        Two resubmission attempts are permitted via this endpoint before a `REJECTED` status is returned and the account creation process is ended.
      operationId: postAccountHolderResubmit
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                individual:
                  $ref: '#/components/schemas/KycIndividual'
                  description: Information on individual for whom the account is being opened and KYC is being re-run.
                tos_timestamp:
                  description: An RFC 3339 timestamp indicating when the account holder accepted the applicable legal agreements (e.g., cardholder terms) as agreed upon during API customer's implementation with Lithic.
                  example: '2022-03-08 08:00:00'
                  type: string
                workflow:
                  default: KYC_ADVANCED
                  enum:
                    - KYC_ADVANCED
                  type: string
              required:
                - individual
                - tos_timestamp
                - workflow
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                acceptedEvaluationResponse:
                  summary: Accepted KYC evaluation response
                  value:
                    account_token: b68b7424-aa69-4cbc-a946-30d90181b621
                    status: ACCEPTED
                    status_reasons: []
                    token: 12345678-aa69-4cbc-a946-30d90181b621
                maxSubmissions:
                  summary: KYC rejected for too many resubmissions
                  value:
                    account_token: b68b7424-aa69-4cbc-a946-30d90181b621
                    status: REJECTED
                    status_reasons:
                      - MAX_RESUBMISSION_ATTEMPTS
                    token: 12345678-aa69-4cbc-a946-30d90181b621
              schema:
                $ref: '#/components/schemas/AccountHolder'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Resubmit account holder information
      tags:
        - Account Holder
  /v1/accounts:
    get:
      description: |
        List account configurations.
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/startingAfter'
      responses:
        '200':
          content:
            application/json:
              examples:
                getAccounts:
                  summary: List accounts
                  value:
                    data:
                      - cardholder_currency: USD
                        spend_limit:
                          daily: 1000
                          lifetime: 10000
                          monthly: 4000
                        state: ACTIVE
                        token: b68b7424-aa69-4cbc-a946-30d90181b621
                    has_more: false
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AccountConfiguration'
                    type: array
                  has_more:
                    description: Whether there are more accounts to be retrieved.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List accounts
      tags:
        - Account
  /v1/accounts/{account_token}:
    get:
      description: Get account configuration such as spend limits.
      operationId: getAccountByToken
      parameters:
        - $ref: '#/components/parameters/accountToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfiguration'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get account
      tags:
        - Account
    patch:
      description: |
        Update account configuration such as state or spend limits. Can only be run on accounts that are part of the program managed by this API key.
        Accounts that are in the `PAUSED` state will not be able to transact or create new cards.
      operationId: patchAccountByToken
      parameters:
        - $ref: '#/components/parameters/accountToken'
      requestBody:
        content:
          application/json:
            examples:
              setDailySpendLimit:
                summary: Update daily spend limit
                value:
                  daily_spend_limit: 1000
            schema:
              properties:
                daily_spend_limit:
                  default: 125000
                  description: |
                    Amount (in cents) for the account's daily spend limit.
                    By default the daily spend limit is set to $1,250.
                  minimum: 0
                  type: integer
                lifetime_spend_limit:
                  default: 0
                  description: |
                    Amount (in cents) for the account's lifetime spend limit. Once this limit is reached, no transactions will be accepted on any card created for this account until the limit is updated.
                    Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the account limit. This behavior differs from the daily spend limit and the monthly spend limit.
                  minimum: 0
                  type: integer
                monthly_spend_limit:
                  default: 500000
                  description: |
                    Amount (in cents) for the account's monthly spend limit.
                    By default the monthly spend limit is set to $5,000.
                  minimum: 0
                  type: integer
                state:
                  description: Account states.
                  enum:
                    - ACTIVE
                    - PAUSED
                  type: string
                verification_address:
                  description: Address used during Address Verification Service (AVS) checks during transactions if enabled via Auth Rules. This field is deprecated as AVS checks are no longer supported by Authorization Rules. The field will be removed from the schema in a future release.
                  properties:
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    country:
                      type: string
                    postal_code:
                      type: string
                    state:
                      type: string
                  type: object
                  deprecated: true
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                exampleResponse:
                  value:
                    cardholder_currency: USD
                    spend_limit:
                      daily: 1000
                      lifetime: 100000
                      monthly: 40000
                    state: ACTIVE
                    token: ecbd1d58-0299-48b3-84da-6ed7f5bf9ec1
                    verification_address:
                      address1: 5 Broad Street
                      address2: ''
                      city: New York
                      country: USA
                      postal_code: '10001'
                      state: NY
              schema:
                $ref: '#/components/schemas/AccountConfiguration'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Update account
      tags:
        - Account
  /v1/accounts/{account_token}/spend_limits:
    get:
      description: Get an Account's available spend limits, which is based on the spend limit configured on the Account and the amount already spent over the spend limit's duration. For example, if the Account has a daily spend limit of $1000 configured, and has spent $600 in the last 24 hours, the available spend limit returned would be $400.
      operationId: getAccountSpendLimits
      parameters:
        - $ref: '#/components/parameters/accountToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSpendLimits'
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get account's available spend limits
      tags:
        - Account
  /v1/aggregate_balances:
    get:
      description: Get the aggregated balance across all end-user accounts by financial account type
      operationId: getAggregateBalances
      parameters:
        - description: Get the aggregate balance for a given Financial Account type.
          in: query
          name: financial_account_type
          schema:
            enum:
              - ISSUING
              - OPERATING
              - RESERVE
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AggregateBalance'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List aggregate balances
      tags:
        - Balance
  /v2/auth_rules:
    post:
      parameters: []
      tags:
        - Authorization Rules
      summary: Create a new V2 authorization rule
      description: Creates a new V2 authorization rule in draft mode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-auth-rule-request'
      responses:
        '201':
          description: Auth Rule Created
          $ref: '#/components/responses/AuthRule'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
    get:
      servers:
        - description: Sandbox environment that provides key functionality mirroring production
          url: https://sandbox.lithic.com
      parameters:
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/pageSize'
        - name: card_token
          in: query
          description: Only return Authorization Rules that are bound to the provided card token.
          schema:
            type: string
            format: uuid
          required: false
        - name: account_token
          in: query
          description: Only return Authorization Rules that are bound to the provided account token.
          schema:
            type: string
            format: uuid
          required: false
      tags:
        - Authorization Rules
      summary: List V2 authorization rules
      description: Lists V2 authorization rules
      responses:
        '200':
          description: Authorization Rules
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/auth-rule'
                    type: array
                  has_more:
                    description: Indicates whether there are more Authorization Rules to be retrieved by paging through the results.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
  /v2/auth_rules/{auth_rule_token}:
    get:
      parameters:
        - $ref: '#/components/parameters/authRuleToken'
      tags:
        - Authorization Rules
      summary: Fetch a V2 authorization rule
      description: Fetches an authorization rule by its token
      responses:
        '200':
          $ref: '#/components/responses/AuthRule'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
    patch:
      parameters:
        - $ref: '#/components/parameters/authRuleToken'
      tags:
        - Authorization Rules
      summary: Updates a V2 authorization rule
      description: Updates an authorization rule's properties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch-auth-rule-request'
      responses:
        '200':
          description: Updated Auth Rule
          $ref: '#/components/responses/AuthRule'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
  /v2/auth_rules/{auth_rule_token}/apply:
    post:
      parameters:
        - $ref: '#/components/parameters/authRuleToken'
      tags:
        - Authorization Rules
      summary: Apply a V2 authorization rule
      description: |
        Associates an authorization rules with a card program, the provided account(s) or card(s).

        This endpoint will replace any existing associations with the provided list of entities.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apply-auth-rule-request'
      responses:
        '200':
          $ref: '#/components/responses/AuthRule'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
  /v2/auth_rules/{auth_rule_token}/draft:
    post:
      parameters:
        - $ref: '#/components/parameters/authRuleToken'
      tags:
        - Authorization Rules
      summary: Draft a new V2 authorization rule version
      description: |
        Creates a new draft version of an authorization rules that will be ran in shadow mode.

        This can also be utilized to reset the draft parameters, causing a draft version to no longer be ran in shadow mode.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  anyOf:
                    - type: 'null'
                      description: Resets the drafts parameters, causing a draft version to no longer be ran in shadow mode.
                    - $ref: '#/components/schemas/auth-rule-parameters'
      responses:
        '200':
          $ref: '#/components/responses/AuthRule'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
  /v2/auth_rules/{auth_rule_token}/promote:
    post:
      parameters:
        - $ref: '#/components/parameters/authRuleToken'
      tags:
        - Authorization Rules
      summary: Promote draft authorization rule
      description: Promotes a draft version of an authorization rule to the currently active version such that it is enforced in the authorization stream.
      responses:
        '200':
          $ref: '#/components/responses/AuthRule'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
  /v2/auth_rules/{auth_rule_token}/report:
    post:
      parameters:
        - $ref: '#/components/parameters/authRuleToken'
      tags:
        - Authorization Rules
      summary: Request authorization rule performance report
      description: |
        Requests a performance report of an authorization rule to be asynchronously generated. Reports can only be run on rules in draft or active mode and will included approved and declined statistics as well as examples.
        The generated report will be delivered asynchronously through a webhook with `event_type` = `auth_rules.performance_report.created`. See the docs on setting up [webhook subscriptions](https://docs.lithic.com/docs/events-api).

        Reports are generated based on data collected by Lithic's authorization processing system in the trailing week. The performance of the auth rule will be assessed on the configuration of the auth rule at the time the report is requested.
        This implies that if a performance report is requested, right after updating an auth rule, depending on the number of authorizations processed for a card program, it may be the case that no data is available for the report. Therefore Lithic recommends to decouple making updates to an Auth Rule, and requesting performance reports.

        To make this concrete, consider the following example:
        1. At time `t`, a new Auth Rule is created, and applies to all authorizations on a card program. The Auth Rule has not yet been promoted, causing the draft version of the rule to be applied in shadow mode.
        2. At time `t + 1 hour` a performance report is requested for the Auth Rule. This performance report will *only* contain data for the Auth Rule being executed in the window between `t` and `t + 1 hour`. This is because Lithic's transaction processing system will only start capturing data for the Auth Rule at the time it is created.
        3. At time `t + 2 hours` the draft version of the Auth Rule is promoted to the active version of the Auth Rule by calling the `/v2/auth_rules/{auth_rule_token}/promote` endpoint. If a performance report is requested at this moment it will still only contain data for this version of the rule, but the window of available data will now span from `t` to `t + 2 hours`.
        4. At time `t + 3 hours` a new version of the rule is drafted by calling the `/v2/auth_rules/{auth_rule_token}/draft` endpoint. If a performance report is requested right at this moment, it will only contain data for authorizations to which both the active version and the draft version is applied. Lithic does this to ensure that performance reports represent a fair comparison between rules. Because there may be no authorizations in this window, and because there may be some lag before data is available in a performance report, the requested performance report could contain no to little data.
        5. At time `t + 4 hours` another performance report is requested: this time the performance report will contain data from the window between `t + 3 hours` and `t + 4 hours`, for any authorizations to which both the current version of the authorization rule (in enforcing mode) and the draft version of the authorization rule (in shadow mode) applied.

        Note that generating a report may take up to 15 minutes and that delivery is not guaranteed. Customers are required to have created an event subscription to receive the webhook.
        Additionally, there is a delay of approximately 15 minutes between when Lithic's transaction processing systems have processed the transaction, and when a transaction will be included in the report.
      responses:
        '200':
          description: Report generation request received
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_token:
                    $ref: '#/components/schemas/report-token'
        '400':
          $ref: '#/components/responses/responses-BadRequest'
        '404':
          $ref: '#/components/responses/responses-NotFound'
        '422':
          description: Returned when the request was syntactically correct, but could not be processed
  /v1/auth_stream/secret:
    get:
      description: |
        Retrieve the ASA HMAC secret key. If one does not exist for your program yet, calling this endpoint will create one for you. The headers (which you can use to verify webhooks) will begin appearing shortly after calling this endpoint for the first time. See [this page](https://docs.lithic.com/docs/auth-stream-access-asa#asa-webhook-verification) for more detail about verifying ASA webhooks.
      operationId: getAuthStreamSecret
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  secret:
                    description: The shared HMAC ASA secret
                    example: whsec_1NDsYinMGr951KuDEaj78VtWzlyPaOnwUVagFiWIPJs=
                    type: string
                type: object
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Retrieve the ASA HMAC secret key
      tags:
        - Auth Stream Access (ASA)
  /v1/auth_stream/secret/rotate:
    post:
      description: |
        Generate a new ASA HMAC secret key. The old ASA HMAC secret key will be deactivated 24 hours after a successful request to this endpoint. Make a [`GET /auth_stream/secret`](https://docs.lithic.com/reference/getauthstreamsecret) request to retrieve the new secret key.
      operationId: rotateAuthStreamSecret
      responses:
        '204':
          description: We have successfully rotated the secret key.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Rotate the ASA HMAC secret key
      tags:
        - Auth Stream Access (ASA)
  /v1/balances:
    get:
      description: Get the balances for a program, business, or a given end-user account
      operationId: getBalances
      parameters:
        - description: List balances for all financial accounts of a given account_token.
          in: query
          name: account_token
          schema:
            format: uuid
            type: string
        - description: List balances for all financial accounts of a given business_account_token.
          in: query
          name: business_account_token
          schema:
            format: uuid
            type: string
        - description: UTC date and time of the balances to retrieve. Defaults to latest available balances
          in: query
          name: balance_date
          schema:
            format: date-time
            type: string
        - description: List balances for a given Financial Account type.
          in: query
          name: financial_account_type
          schema:
            enum:
              - ISSUING
              - OPERATING
              - RESERVE
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Balance'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List balances
      tags:
        - Balance
  /v1/card_programs:
    get:
      description: List card programs.
      operationId: getCardPrograms
      parameters:
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/startingAfter'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CardProgram'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List card programs
      tags:
        - Card
  /v1/card_programs/{card_program_token}:
    get:
      description: Get card program.
      operationId: getCardProgram
      parameters:
        - $ref: '#/components/parameters/cardProgramTokenPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProgram'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get card program
      tags:
        - Card
  /v1/cards:
    get:
      description: List cards.
      operationId: getCards
      parameters:
        - description: |
            Returns cards associated with the specified account.
          in: query
          name: account_token
          schema:
            format: uuid
            type: string
        - description: |
            Returns cards with the specified state.
          in: query
          name: state
          schema:
            enum:
              - CLOSED
              - OPEN
              - PAUSED
              - PENDING_ACTIVATION
              - PENDING_FULFILLMENT
            type: string
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/startingAfter'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Card'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List cards
      tags:
        - Card
    post:
      description: |
        Create a new virtual or physical card. Parameters `pin`, `shipping_address`, and `product_id` only apply to physical cards.
      operationId: postCards
      requestBody:
        content:
          application/json:
            examples:
              createCard:
                summary: Create card
                value:
                  memo: New Card
                  spend_limit: 1000
                  spend_limit_duration: TRANSACTION
                  state: OPEN
                  type: VIRTUAL
              createPhysicalCard:
                summary: Create a physical card
                value:
                  carrier:
                    qr_code_url: https://lithic.com/activate-card/1
                  memo: New physical card
                  product_id: '783991122'
                  shipping_address:
                    address1: '123'
                    city: NEW YORK
                    country: USA
                    first_name: Johnny
                    last_name: Appleseed
                    postal_code: '10001'
                    state: NY
                  state: OPEN
                  type: PHYSICAL
            schema:
              properties:
                account_token:
                  description: |
                    Globally unique identifier for the account that the card will be associated with. Required for programs enrolling users using the [/account\_holders endpoint](https://docs.lithic.com/docs/account-holders-kyc). See [Managing Your Program](doc:managing-your-program) for more information.
                  format: uuid
                  type: string
                card_program_token:
                  description: For card programs with more than one BIN range. This must be configured with Lithic before use. Identifies the card program/BIN range under which to create the card. If omitted, will utilize the program's default `card_program_token`. In Sandbox, use 00000000-0000-0000-1000-000000000000 and 00000000-0000-0000-2000-000000000000 to test creating cards on specific card programs.
                  example: 00000000-0000-0000-1000-000000000000
                  format: uuid
                  type: string
                carrier:
                  $ref: '#/components/schemas/Carrier'
                digital_card_art_token:
                  description: Specifies the digital card art to be displayed in the user’s digital wallet after tokenization. This artwork must be approved by Mastercard and configured by Lithic to use. See [Flexible Card Art Guide](https://docs.lithic.com/docs/about-digital-wallets#flexible-card-art).
                  example: 00000000-0000-0000-1000-000000000000
                  format: uuid
                  type: string
                exp_month:
                  description: Two digit (MM) expiry month. If neither `exp_month` nor `exp_year` is provided, an expiration date will be generated.
                  example: '06'
                  maxLength: 2
                  minLength: 2
                  type: string
                exp_year:
                  description: Four digit (yyyy) expiry year. If neither `exp_month` nor `exp_year` is provided, an expiration date will be generated.
                  example: '2027'
                  maxLength: 4
                  minLength: 4
                  type: string
                memo:
                  description: Friendly name to identify the card.
                  example: New Card
                  type: string
                pin:
                  description: Encrypted PIN block (in base64). Only applies to cards of type `PHYSICAL` and `VIRTUAL`. See [Encrypted PIN Block](https://docs.lithic.com/docs/cards#encrypted-pin-block).
                  type: string
                product_id:
                  description: Only applicable to cards of type `PHYSICAL`. This must be configured with Lithic before use. Specifies the configuration (i.e., physical card art) that the card should be manufactured with.
                  example: '1'
                  type: string
                replacement_for:
                  description: Only applicable to cards of type `PHYSICAL`. Globally unique identifier for the card that this physical card will replace.
                  example: 00000000-0000-0000-1000-000000000000
                  format: uuid
                  type: string
                replacement_account_token:
                  description: Restricted field limited to select use cases. Lithic will reach out directly if this field should be used. Globally unique identifier for the replacement card's account. If this field is specified, `replacement_for` must also be specified. If `replacement_for` is specified and this field is omitted, the replacement card's account will be inferred from the card being replaced.
                  example: 00000000-0000-0000-2000-000000000000
                  format: uuid
                  type: string
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                shipping_method:
                  description: |
                    Shipping method for the card. Only applies to cards of type PHYSICAL. Use of options besides `STANDARD` require additional permissions.
                    * `STANDARD` - USPS regular mail or similar international option, with no tracking
                    * `STANDARD_WITH_TRACKING` - USPS regular mail or similar international option, with tracking
                    * `PRIORITY` - USPS Priority, 1-3 day shipping, with tracking
                    * `EXPRESS` - FedEx Express, 3-day shipping, with tracking
                    * `2_DAY` - FedEx 2-day shipping, with tracking
                    * `EXPEDITED` - FedEx Standard Overnight or similar international option, with tracking
                  enum:
                    - 2_DAY
                    - EXPEDITED
                    - EXPRESS
                    - PRIORITY
                    - STANDARD
                    - STANDARD_WITH_TRACKING
                  type: string
                spend_limit:
                  description: Amount (in cents) to limit approved authorizations. Transaction requests above the spend limit will be declined. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the card limit.
                  example: 0
                  minimum: 0
                  type: integer
                spend_limit_duration:
                  description: |-
                    Spend limit duration values:
                    * `ANNUALLY` - Card will authorize transactions up to spend limit for the trailing year.
                    * `FOREVER` - Card will authorize only up to spend limit for the entire lifetime of the card.
                    * `MONTHLY` - Card will authorize transactions up to spend limit for the trailing month. To support recurring monthly payments, which can occur on different day every month, the time window we consider for monthly velocity starts 6 days after the current calendar date one month prior.
                    * `TRANSACTION` - Card will authorize multiple transactions if each individual transaction is under the spend limit.
                  enum:
                    - ANNUALLY
                    - FOREVER
                    - MONTHLY
                    - TRANSACTION
                  type: string
                state:
                  description: |
                    Card state values:
                    * `OPEN` - Card will approve authorizations (if they match card and account parameters).
                    * `PAUSED` - Card will decline authorizations, but can be resumed at a later time.
                  enum:
                    - OPEN
                    - PAUSED
                  type: string
                type:
                  default: VIRTUAL
                  description: |
                    Card types:
                    * `VIRTUAL` - Card will authorize at any merchant and can be added to a digital wallet like Apple Pay or Google Pay (if the card program is digital wallet-enabled).
                    * `PHYSICAL` - Manufactured and sent to the cardholder. We offer white label branding, credit, ATM, PIN debit, chip/EMV, NFC and magstripe functionality. Reach out at [lithic.com/contact](https://lithic.com/contact) for more information.
                    * `SINGLE_USE` - Card is closed upon first successful authorization.
                    * `MERCHANT_LOCKED` - *[Deprecated]* Card is locked to the first merchant that successfully authorizes the card.
                    * `UNLOCKED` - *[Deprecated]* Similar behavior to VIRUTAL cards, please use VIRTUAL instead.
                    * `DIGITAL_WALLET` - *[Deprecated]* Similar behavior to VIRUTAL cards, please use VIRTUAL instead.
                  enum:
                    - MERCHANT_LOCKED
                    - PHYSICAL
                    - SINGLE_USE
                    - VIRTUAL
                    - UNLOCKED
                    - DIGITAL_WALLET
                  type: string
              required:
                - type
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                account_token: f3f4918c-dee9-464d-a819-4aa42901d624
                card_program_token: 5e9483eb-8103-4e16-9794-2106111b2eca
                cardholder_currency: USD
                created: '2021-06-28T22:53:15Z'
                cvv: '776'
                exp_month: '06'
                exp_year: '2027'
                funding:
                  account_name: Sandbox
                  created: '2020-07-08T17:57:36Z'
                  last_four: '5263'
                  nickname: checking account
                  state: ENABLED
                  token: b0f0d91a-3697-46d8-85f3-20f0a585cbea
                  type: DEPOSITORY_CHECKING
                hostname: ''
                last_four: '4142'
                memo: New Card
                pan: '4111111289144142'
                spend_limit: 1000
                spend_limit_duration: TRANSACTION
                state: OPEN
                token: 7ef7d65c-9023-4da3-b113-3b8583fd7951
                type: VIRTUAL
              schema:
                $ref: '#/components/schemas/Card'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Create card
      tags:
        - Card
  /v1/cards/aggregate_balances:
    get:
      description: Get the aggregated card balance across all end-user accounts.
      operationId: getCardAggregateBalances
      parameters:
        - description: Cardholder to retrieve aggregate balances for.
          in: query
          name: account_token
          schema:
            type: string
        - description: Business to retrieve aggregate balances for.
          in: query
          name: business_account_token
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CardAggregateBalance'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List card aggregate balances
      tags:
        - Card
  /v1/cards/search_by_pan:
    post:
      description: |-
        Get card configuration such as spend limit and state. Customers must be PCI compliant to use this endpoint. Please contact [support@lithic.com](mailto:support@lithic.com) for questions.
        *Note: this is a `POST` endpoint because it is more secure to send sensitive data in a request body than in a URL.*
      operationId: searchCardByPan
      requestBody:
        content:
          application/json:
            examples:
              searchCardByPan:
                summary: Search for card for by PAN.
                value:
                  pan: '4111111289144142'
            schema:
              properties:
                pan:
                  description: The PAN for the card being retrieved.
                  example: '4111111289144142'
                  type: string
              required:
                - pan
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Search for card by PAN
      tags:
        - Card
  /v1/cards/{card_token}:
    get:
      description: Get card configuration such as spend limit and state.
      operationId: getCardByToken
      parameters:
        - $ref: '#/components/parameters/cardToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get card
      tags:
        - Card
    patch:
      description: |
        Update the specified properties of the card. Unsupplied properties will remain unchanged. `pin` parameter only applies to physical cards.

        *Note: setting a card to a `CLOSED` state is a final action that cannot be undone.*
      operationId: patchCardByToken
      parameters:
        - $ref: '#/components/parameters/cardToken'
      requestBody:
        content:
          application/json:
            examples:
              updateCard:
                summary: Update card
                value:
                  memo: Updated Name
                  spend_limit: 100
                  spend_limit_duration: FOREVER
                  state: OPEN
            schema:
              properties:
                digital_card_art_token:
                  description: Specifies the digital card art to be displayed in the user’s digital wallet after tokenization. This artwork must be approved by Mastercard and configured by Lithic to use. See [Flexible Card Art Guide](https://docs.lithic.com/docs/about-digital-wallets#flexible-card-art).
                  example: 00000000-0000-0000-1000-000000000000
                  format: uuid
                  type: string
                memo:
                  description: Friendly name to identify the card.
                  example: New Card
                  type: string
                pin:
                  description: Encrypted PIN block (in base64). Only applies to cards of type `PHYSICAL` and `VIRTUAL`. Changing PIN also resets PIN status to `OK`. See [Encrypted PIN Block](https://docs.lithic.com/docs/cards#encrypted-pin-block).
                  type: string
                pin_status:
                  description: Indicates if a card is blocked due a PIN status issue (e.g. excessive incorrect attempts). Can only be set to `OK` to unblock a card.
                  enum:
                    - OK
                  type: string
                spend_limit:
                  description: Amount (in cents) to limit approved authorizations. Transaction requests above the spend limit will be declined. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the card limit.
                  example: 0
                  type: integer
                spend_limit_duration:
                  description: |-
                    Spend limit duration values:
                    * `ANNUALLY` - Card will authorize transactions up to spend limit for the trailing year.
                    * `FOREVER` - Card will authorize only up to spend limit for the entire lifetime of the card.
                    * `MONTHLY` - Card will authorize transactions up to spend limit for the trailing month. To support recurring monthly payments, which can occur on different day every month, the time window we consider for monthly velocity starts 6 days after the current calendar date one month prior.
                    * `TRANSACTION` - Card will authorize multiple transactions if each individual transaction is under the spend limit.
                  enum:
                    - ANNUALLY
                    - FOREVER
                    - MONTHLY
                    - TRANSACTION
                  type: string
                state:
                  description: |
                    Card state values:
                    * `CLOSED` - Card will no longer approve authorizations. Closing a card cannot be undone.
                    * `OPEN` - Card will approve authorizations (if they match card and account parameters).
                    * `PAUSED` - Card will decline authorizations, but can be resumed at a later time.
                  enum:
                    - CLOSED
                    - OPEN
                    - PAUSED
                  type: string
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                account_token: f3f4918c-dee9-464d-a819-4aa42901d624
                card_program_token: 5e9483eb-8103-4e16-9794-2106111b2eca
                cardholder_currency: USD
                created: '2021-06-28T22:53:15Z'
                cvv: '742'
                exp_month: '05'
                exp_year: '2027'
                funding:
                  account_name: Sandbox
                  created: '2020-07-08 17:57:36'
                  last_four: '5263'
                  nickname: checking account
                  state: ENABLED
                  token: b0f0d91a-3697-46d8-85f3-20f0a585cbea
                  type: DEPOSITORY_CHECKING
                hostname: ''
                last_four: '4938'
                memo: Updated Name
                pan: '4111111289144142'
                spend_limit: 100
                spend_limit_duration: FOREVER
                state: OPEN
                token: f5f905f5-8a8e-49bf-a9b4-c0adaa401456
                type: VIRTUAL
              schema:
                $ref: '#/components/schemas/Card'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Update card
      tags:
        - Card
  /v1/cards/{card_token}/balances:
    get:
      description: Get the balances for a given card.
      operationId: getCardBalance
      parameters:
        - description: UTC date of the balance to retrieve. Defaults to latest available balance
          in: query
          name: balance_date
          schema:
            format: date-time
            type: string
        - description: |
            Balance after a given financial event occured.
            For example, passing the event_token of a $5 CARD_CLEARING financial event will return a balance decreased by $5
          in: query
          name: last_transaction_event_token
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/cardToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/FinancialAccountBalance'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get card balances
      tags:
        - Card
  /v1/cards/{card_token}/financial_transactions:
    get:
      description: List the financial transactions for a given card.
      operationId: getCardFinancialTransactions
      parameters:
        - description: Financial Transaction category to be returned.
          in: query
          name: category
          schema:
            enum:
              - CARD
              - TRANSFER
            type: string
        - description: Financial Transaction result to be returned.
          in: query
          name: result
          schema:
            enum:
              - APPROVED
              - DECLINED
            type: string
        - description: Financial Transaction status to be returned.
          in: query
          name: status
          schema:
            enum:
              - DECLINED
              - EXPIRED
              - PENDING
              - RETURNED
              - SETTLED
              - VOIDED
            type: string
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/cardToken'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/endingBefore'
        - $ref: '#/components/parameters/startingAfter'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/FinancialTransaction'
                    type: array
                  has_more:
                    description: More data exists.
                    type: boolean
                required:
                  - data
                  - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List card financial transactions
      tags:
        - Card
  /v1/cards/{card_token}/financial_transactions/{financial_transaction_token}:
    get:
      description: Get the card financial transaction for the provided token.
      operationId: getCardFinancialTransactionByToken
      parameters:
        - $ref: '#/components/parameters/cardToken'
        - $ref: '#/components/parameters/financialTransactionToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialTransaction'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get card financial transaction
      tags:
        - Card
  /v1/cards/{card_token}/provision:
    post:
      description: |
        Allow your cardholders to directly add payment cards to the device's digital wallet (e.g. Apple Pay) with one touch from your app.

        This requires some additional setup and configuration. Please [Contact Us](https://lithic.com/contact) or your Customer Success representative for more information.
      operationId: postCardProvision
      parameters:
        - $ref: '#/components/parameters/cardTokenDigitalWallet'
      requestBody:
        content:
          application/json:
            examples:
              provisionGoogleCard:
                summary: Provision a card in Google Pay
                value:
                  digital_wallet: GOOGLE_PAY
            schema:
              properties:
                certificate:
                  description: Only applicable if `digital_wallet` is `APPLE_PAY`. Omit to receive only `activationData` in the response. Apple's public leaf certificate. Base64 encoded in PEM format with headers `(-----BEGIN CERTIFICATE-----)` and trailers omitted. Provided by the device's wallet.
                  format: byte
                  type: string
                client_wallet_account_id:
                  description: Only applicable if `digital_wallet` is `GOOGLE_PAY` or `SAMSUNG_PAY` and the card is on the Visa network. Consumer ID that identifies the wallet account holder entity.
                  type: string
                client_device_id:
                  description: Only applicable if `digital_wallet` is `GOOGLE_PAY` or `SAMSUNG_PAY` and the card is on the Visa network. Stable device identification set by the wallet provider.
                  type: string
                digital_wallet:
                  description: Name of digital wallet provider.
                  enum:
                    - APPLE_PAY
                    - GOOGLE_PAY
                    - SAMSUNG_PAY
                  type: string
                nonce:
                  description: Only applicable if `digital_wallet` is `APPLE_PAY`. Omit to receive only `activationData` in the response. Base64 cryptographic nonce provided by the device's wallet.
                  format: byte
                  type: string
                nonce_signature:
                  description: Only applicable if `digital_wallet` is `APPLE_PAY`. Omit to receive only `activationData` in the response. Base64 cryptographic nonce provided by the device's wallet.
                  format: byte
                  type: string
              type: object
        description: Update request.
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                provisioning_payload: eyJjYXJ......
              schema:
                properties:
                  provisioning_payload:
                    type: string
                type: object
          description: |
            Returns `provisioning_payload`, a cryptographic payload representing a payment card that can be passed to a device's digital wallet. Each digital wallet has a different API; consult the wallet's documentation for more info.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Provision card (Digital Wallet)
      tags:
        - Card
  /v1/cards/{card_token}/reissue:
    post:
      description: |
        Initiate print and shipment of a duplicate physical card.

        Only applies to cards of type `PHYSICAL`.
      operationId: postCardReissue
      parameters:
        - $ref: '#/components/parameters/cardToken'
      requestBody:
        content:
          application/json:
            examples:
              reissueCardNewAddress:
                summary: Reissue card with a new address
                value:
                  carrier:
                    qr_code_url: https://lithic.com/activate-card/1
                  product_id: '100'
                  shipping_address:
                    address1: 5 Broad Street
                    address2: Unit 5A
                    city: NEW YORK
                    country: USA
                    first_name: Janet
                    last_name: Yellen
                    postal_code: '10001'
                    state: NY
                  shipping_method: STANDARD
            schema:
              properties:
                carrier:
                  $ref: '#/components/schemas/Carrier'
                  description: If omitted, the previous carrier will be used.
                product_id:
                  description: |
                    Specifies the configuration (e.g. physical card art) that the card should be manufactured with, and only applies to cards of type `PHYSICAL`. This must be configured with Lithic before use.
                  type: string
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                  description: If omitted, the previous shipping address will be used.
                shipping_method:
                  description: |
                    Shipping method for the card. Use of options besides `STANDARD` require additional permissions.
                    * `STANDARD` - USPS regular mail or similar international option, with no tracking
                    * `STANDARD_WITH_TRACKING` - USPS regular mail or similar international option, with tracking
                    * `PRIORITY` - USPS Priority, 1-3 day shipping, with tracking
                    * `EXPRESS` - FedEx Express, 3-day shipping, with tracking
                    * `2_DAY` - FedEx 2-day shipping, with tracking
                    * `EXPEDITED` - FedEx Standard Overnight or similar international option, with tracking
                  enum:
                    - 2-DAY
                    - EXPEDITED
                    - EXPRESS
                    - PRIORITY
                    - STANDARD
                    - STANDARD_WITH_TRACKING
                  type: string
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                account_token: f3f4918c-dee9-464d-a819-4aa42901d624
                card_program_token: 5e9483eb-8103-4e16-9794-2106111b2eca
                cardholder_currency: USD
                created: '2021-06-28T22:53:15Z'
                cvv: '742'
                exp_month: '05'
                exp_year: '2027'
                funding:
                  account_name: Sandbox
                  created: '2020-07-08 17:57:36'
                  last_four: '5263'
                  nickname: checking account
                  state: ENABLED
                  token: b0f0d91a-3697-46d8-85f3-20f0a585cbea
                  type: DEPOSITORY_CHECKING
                hostname: ''
                last_four: '4938'
                memo: Updated Name
                pan: '4111111289144142'
                spend_limit: 100
                spend_limit_duration: FOREVER
                state: OPEN
                token: f5f905f5-8a8e-49bf-a9b4-c0adaa401456
                type: PHYSICAL
              schema:
                $ref: '#/components/schemas/Card'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Reissue physical card
      tags:
        - Card
  /v1/cards/{card_token}/renew:
    post:
      description: |
        Initiate print and shipment of a renewed physical card.

        Only applies to cards of type `PHYSICAL`.
      operationId: postCardRenew
      parameters:
        - $ref: '#/components/parameters/cardToken'
      requestBody:
        content:
          application/json:
            examples:
              renewCardNewAddress:
                summary: Renew card with a new address
                value:
                  carrier:
                    qr_code_url: https://lithic.com/activate-card/1
                  product_id: '100'
                  shipping_address:
                    address1: 5 Broad Street
                    address2: Unit 5A
                    city: NEW YORK
                    country: USA
                    first_name: Janet
                    last_name: Yellen
                    postal_code: '10001'
                    state: NY
                  shipping_method: STANDARD
            schema:
              properties:
                carrier:
                  $ref: '#/components/schemas/Carrier'
                  description: If omitted, the previous carrier will be used.
                exp_month:
                  description: Two digit (MM) expiry month. If neither `exp_month` nor `exp_year` is provided, an expiration date six years in the future will be generated.
                  example: '06'
                  maxLength: 2
                  minLength: 2
                  type: string
                exp_year:
                  description: Four digit (yyyy) expiry year. If neither `exp_month` nor `exp_year` is provided, an expiration date six years in the future will be generated.
                  example: '2027'
                  maxLength: 4
                  minLength: 4
                  type: string
                product_id:
                  description: |
                    Specifies the configuration (e.g. physical card art) that the card should be manufactured with, and only applies to cards of type `PHYSICAL`. This must be configured with Lithic before use.
                  type: string
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                  description: The shipping address this card will be sent to.
                shipping_method:
                  description: |
                    Shipping method for the card. Use of options besides `STANDARD` require additional permissions.
                    * `STANDARD` - USPS regular mail or similar international option, with no tracking
                    * `STANDARD_WITH_TRACKING` - USPS regular mail or similar international option, with tracking
                    * `PRIORITY` - USPS Priority, 1-3 day shipping, with tracking
                    * `EXPRESS` - FedEx Express, 3-day shipping, with tracking
                    * `2_DAY` - FedEx 2-day shipping, with tracking
                    * `EXPEDITED` - FedEx Standard Overnight or similar international option, with tracking
                  enum:
                    - 2-DAY
[...]
