openapi: 3.0.0
info:
  title: Lithic Developer API
  description: >
    The Lithic Developer API is designed to provide a predictable programmatic
    interface for accessing your Lithic account through an API and transaction webhooks.

    Note that your API key is a secret and should be treated as such. Don't share it with anyone, including us. We will never ask you for it.
  version: 1.0.0
  termsOfService: 'https://lithic.com/legal#terms'
  contact:
    email: support@lithic.com
servers:
  - url: https://api.lithic.com/v1
    description: Lithic production API server
  - url: https://sandbox.lithic.com/v1
    description: Sandbox environment that provides key functionality mirroring production
paths:
  /accounts:
    get:
      tags:
        - Account
      summary: List accounts
      description: |
        List account configurations.
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountConfiguration'
                  page:
                    type: integer
                    description: Page number.
                  total_entries:
                    type: integer
                    description: Total number of entries.
                  total_pages:
                    type: integer
                    description: Total number of pages.
                required:
                  - data
                  - page
                  - total_entries
                  - total_pages
              examples:
                getAccounts:
                  summary: List accounts
                  value:
                    data:
                      - token: 'b68b7424-aa69-4cbc-a946-30d90181b621'
                        state: ACTIVE
                        spend_limit:
                          daily: 1000
                          monthly: 4000
                          lifetime: 10000
                    page: 1
                    total_entries: 1
                    total_pages: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/{account_token}:
    get:
      tags:
        - Account
      summary: Get account
      description: Get account configuration such as spend limits.
      operationId: getAccountByToken
      parameters:
        - $ref: '#/components/parameters/accountToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Account
      summary: Update account
      description: |
        Update account configuration such as spend limits and verification address. Can only be run on accounts that are part of the program managed by this API key.

        Accounts that are in the `PAUSED` state will not be able to transact or create new cards.
      operationId: patchAccountByToken
      parameters:
        - $ref: '#/components/parameters/accountToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                daily_spend_limit:
                  type: integer
                  description: Amount (in cents) for the account's new daily spend limit. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the account limit.
                  minimum: 0
                lifetime_spend_limit:
                  type: integer
                  description: >
                    Amount (in cents) for the account's new lifetime limit.
                    Once this limit is reached, no transactions will be accepted
                    on any card created for this account until the limit is updated. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the account limit.
                  minimum: 0
                monthly_spend_limit:
                  type: integer
                  description: Amount (in cents) for the account's new monthly spend limit. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the account limit.
                  minimum: 0
                verification_address:
                  type: object
                  description: Address used during Address Verification Service (AVS) checks during transactions if enabled via Auth Rules.
                  properties:
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postal_code:
                      type: string
                    country:
                      type: string
                state:
                  type: string
                  enum:
                    - ACTIVE
                    - PAUSED
                  description: Account states.
            examples:
              setDailySpendLimit:
                summary: Update daily spend limit
                value:
                  daily_spend_limit: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfiguration'
              examples:
                exampleResponse:
                  value:
                    token: 'ecbd1d58-0299-48b3-84da-6ed7f5bf9ec1'
                    state: ACTIVE
                    spend_limit:
                      daily: 1000
                      monthly: 40000
                      lifetime: 100000
                    verification_address:
                      address1: '5 Broad Street'
                      address2: ''
                      city: 'New York'
                      state: 'NY'
                      postal_code: '10001'
                      country: 'USA'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /account_holders:
    post:
      tags:
        - Account Holder
      summary: Create an individual or business account holder
      description: >
        Run an individual or business's information through the Customer Identification Program (CIP)
        and return an `account_token` if the status is accepted or pending (i.e., further action required).

        All calls to this endpoint will return an immediate response - though in some cases,
        the response may indicate the workflow is under review or further action will be needed to complete the account creation process.

        This endpoint can only be used on accounts that are part of the program the calling API key manages.
      operationId: postAccountHolders
      parameters:
        - name: Idempotency-Token
          in: header
          schema:
            type: string
            default: ''
            nullable: true
      requestBody:
        required: true
        content:
          application/json:
            examples:
              kybRequest:
                summary: Create an account holder with KYB workflow
                value:
                  business_entity:
                    address:
                      address1: '123 Old Forest Way'
                      city: 'Omaha'
                      country: 'USA'
                      postal_code: '61022'
                      state: 'NE'
                    phone_numbers: ['+12124007676']
                    government_id: '114-123-1513'
                    legal_business_name: 'Busy Business, Inc.'

                  control_person:
                    address:
                      address1: '451 New Forest Way'
                      city: 'Springfield'
                      country: 'USA'
                      postal_code: '68022'
                      state: 'IL'
                    dob: '1991-03-08 08:00:00'
                    email: 'tom@middle-pluto.com'
                    first_name: 'Tom'
                    government_id: '111-23-1412'
                    last_name: 'Timothy'
                    phone_number: '+12024008176'

                  beneficial_owner_individuals:
                    - address:
                        address1: '300 Normal Forest Way'
                        city: 'Portland'
                        country: 'USA'
                        postal_code: '90210'
                        state: 'OR'
                      dob: '1991-03-08 08:00:00'
                      email: 'tim@left-earth.com'
                      first_name: 'Timmy'
                      government_id: '211-23-1412'
                      last_name: 'Turner'
                      phone_number: '+12024007611'
                  nature_of_business: 'Software company selling solutions to the restaurant industry'
                  tos_timestamp: '2022-03-08 08:00:00'
                  website_url: 'www.mybusiness.com'
                  workflow: 'KYB_BASIC'

              kycRequest:
                summary: Create an account holder with KYC workflow
                value:
                  individual:
                    address:
                      address1: 123 Old Forest Way
                      city: Omaha
                      country: USA
                      postal_code: '68022'
                      state: NE
                    dob: '1991-03-08 08:00:00'
                    email: tom@middle-earth.com
                    first_name: Tom
                    government_id: 111-23-1412
                    last_name: Bombadil
                    phone_number: '+12124007676'
                  tos_timestamp: '2022-03-08 08:00:00'
                  workflow: KYC_ADVANCED

              kycExemptRequest:
                summary: Create an account holder with KYC Exempt workflow
                value:
                  workflow: KYC_EXEMPT
                  kyc_exemption_type: AUTHORIZED_USER
                  first_name: Tom
                  last_name: Bombadil
                  email: tom@middle-earth.com
                  phone_number: '+12124007676'
                  address:
                    address1: 123 Old Forest Way
                    city: Omaha
                    country: USA
                    postal_code: '68022'
                    state: NE
                  business_account_token: 'e87db14a-4abf-4901-adad-5d5c9f46aff2'
            schema:
              oneOf:
                - $ref: '#/components/schemas/Kyb'
                - $ref: '#/components/schemas/Kyc'
                - $ref: '#/components/schemas/KycExempt'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolder'
              examples:
                acceptedEvaluationResponse:
                  summary: Accepted KYC/KYB evaluation response
                  value:
                    account_token: 'b68b7424-aa69-4cbc-a946-30d90181b621'
                    status: ACCEPTED
                    status_reasons: []
                    token: '12345678-aa69-4cbc-a946-30d90181b621'
                    business_account_token: 'e87db14a-4abf-4901-adad-5d5c9f46aff2'
                pendingResubmitResponse:
                  summary: Pending resubmit KYC evaluation response
                  value:
                    account_token: 'b68b7424-aa69-4cbc-a946-30d90181b621'
                    status: PENDING_RESUBMIT
                    status_reasons:
                      - NAME_VERIFICATION_FAILURE
                    token: '12345678-aa69-4cbc-a946-30d90181b621'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /account_holders/{account_holder_token}:
    get:
      tags:
        - Account Holder
      summary: Get an Individual or Business Account Holder
      description: Get an Individual or Business Account Holder and/or their KYC or KYB evaluation status.
      operationId: getAccountHolder
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolder'
              examples:
                acceptedEvaluationResponse:
                  summary: Accepted KYC evaluation response
                  value:
                    token: '12345678-aa69-4cbc-a946-30d90181b621'
                    phone_number: '5555555555'
                    email: 'test@lithic.com'
                    business_account_token: '6b67b340-ed11-4463-a33d-0d7f7fdcd28c'
                    account_token: 'b68b7424-aa69-4cbc-a946-30d90181b621'
                    status: ACCEPTED
                    status_reasons: []
                pendingDocumentResponse:
                  summary: Pending document submission KYC evaluation response
                  value:
                    account_token: 'b68b7424-aa69-4cbc-a946-30d90181b621'
                    status: PENDING_DOCUMENT
                    status_reasons:
                      - DOB_VERIFICATION_FAILURE
                    token: '12345678-aa69-4cbc-a946-30d90181b621'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Account Holder
      summary: Update account holder information
      description: Update the information associated with a particular account holder.
      operationId: patchAccountHolder
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Account holder's email address. The primary purpose of this field is for cardholder identification and verification during the digital wallet tokenization process.
                phone_number:
                  type: string
                  description: Account holder's phone number, entered in E.164 format. The primary purpose of this field is for cardholder identification and verification during the digital wallet tokenization process.
                business_account_token:
                  type: string
                  description: Only applicable for customers using the KYC-Exempt workflow to enroll authorized users of businesses. Pass the account_token of the enrolled business associated with the AUTHORIZED_USER in this field.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The token for the account holder that was updated
                  email:
                    type: string
                    description: The newly updated email for the account holder
                  phone_number:
                    type: string
                    description: The newly updated phone_number for the account holder
                  business_account_token:
                    type: string
                    description: Only applicable for customers using the KYC-Exempt workflow to enroll businesses with authorized users. Pass the account_token of the enrolled business associated with the AUTHORIZED_USER in this field.
        '404':
          $ref: '#/components/responses/NotFound'

  /account_holders/{account_holder_token}/documents:
    post:
      tags:
        - Account Holder
      summary: Initiate account holder document upload
      description: |
        Use this endpoint to identify which type of supported government-issued documentation you will upload for further verification.
        It will return two URLs to upload your document images to - one for the front image and one for the back image.

        This endpoint is only valid for evaluations in a `PENDING_DOCUMENT` state.

        Uploaded images must either be a `jpg` or `png` file, and each must be less than 15 MiB. Once both required uploads have been successfully completed, your document will be run through KYC verification.

        If you have registered a webhook, you will receive evaluation updates for any document submission evaluations, as well as for any failed document uploads.

        Two document submission attempts are permitted via this endpoint before a `REJECTED` status is returned and the account creation process is ended. Currently only one type of
        account holder document is supported per KYC verification.
      operationId: postAccountHolderDocuments
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document_type:
                  type: string
                  description: Type of the document to upload.
                  enum:
                    - commercial_license
                    - drivers_license
                    - passport
                    - passport_card
                    - visa
              required:
                - document_type
            examples:
              recieveLinkForDriversLicense:
                summary: Initiate account holder document upload
                value:
                  document_type: 'drivers_license'

      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolderDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      tags:
        - Account Holder
      summary: Get account holder document uploads
      description: |
        Retrieve the status of account holder document uploads, or retrieve the upload URLs to process your image uploads.

        Note that this is not equivalent to checking the status of the KYC evaluation overall (a document may be successfully uploaded but not be sufficient for KYC to pass).

        In the event your upload URLs have expired, calling this endpoint will refresh them.
        Similarly, in the event a previous account holder document upload has failed, you can use this endpoint to get a new upload URL for the failed image upload.

        When a new document upload is generated for a failed attempt, the response will show an additional entry in the `required_document_uploads` list
        in a `PENDING` state for the corresponding `image_type`.
      operationId: getAccountHolderDocuments
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountHolderDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /account_holders/{account_holder_token}/documents/{document_token}:
    get:
      tags:
        - Account Holder
      summary: Get account holder document upload status
      description: |
        Check the status of an account holder document upload, or retrieve the upload URLs to process your image uploads.

        Note that this is not equivalent to checking the status of the KYC evaluation overall (a document may be successfully uploaded but not be sufficient for KYC to pass).

        In the event your upload URLs have expired, calling this endpoint will refresh them.
        Similarly, in the event a document upload has failed, you can use this endpoint to get a new upload URL for the failed image upload.

        When a new account holder document upload is generated for a failed attempt, the response will show an additional entry in the `required_document_uploads` array
        in a `PENDING` state for the corresponding `image_type`.
      operationId: getAccountHolderDocumentByToken
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
        - $ref: '#/components/parameters/documentToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolderDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /account_holders/{account_holder_token}/resubmit:
    post:
      tags:
        - Account Holder
      summary: Resubmit account holder information
      description: |
        Resubmit a KYC submission. This endpoint should be used in cases where a KYC submission returned a `PENDING_RESUBMIT` result,
        meaning one or more critical KYC fields may have been mis-entered and the individual's identity has not yet been successfully verified.
        This step must be completed in order to proceed with the KYC evaluation.

        Two resubmission attempts are permitted via this endpoint before a `REJECTED` status is returned and the account creation process is ended.
      operationId: postAccountHolderResubmit
      parameters:
        - $ref: '#/components/parameters/accountHolderTokenPath'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              resubmitKycRequest:
                summary: Resubmit account holder information
            schema:
              type: object
              properties:
                workflow:
                  type: string
                  default: KYC_ADVANCED
                  enum:
                    - KYC_ADVANCED
                tos_timestamp:
                  type: string
                  description: An RFC 3339 timestamp indicating when the account holder accepted the applicable legal agreements (e.g., cardholder terms) as agreed upon during API customer's implementation with Lithic.
                  example: '2022-03-08 08:00:00'
                individual:
                  description: Information on individual for whom the account is being opened and KYC is being re-run.
                  $ref: '#/components/schemas/Individual'
              required:
                - workflow
                - individual
                - tos_timestamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolder'
              examples:
                acceptedEvaluationResponse:
                  summary: Accepted KYC evaluation response
                  value:
                    account_token: 'b68b7424-aa69-4cbc-a946-30d90181b621'
                    status: ACCEPTED
                    status_reasons: []
                    token: '12345678-aa69-4cbc-a946-30d90181b621'
                maxSubmissions:
                  summary: KYC rejected for too many resubmissions
                  value:
                    account_token: ''
                    status: REJECTED
                    status_reasons:
                      - MAX_RESUBMISSION_ATTEMPTS
                    token: '12345678-aa69-4cbc-a946-30d90181b621'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /webhooks/account_holders:
    post:
      tags:
        - Account Holder
      summary: Create webhook for KYC/KYB events
      description: |
        Create a webhook to receive KYC or KYB evaluation events.

        There are two types of account holder webhooks:
          - `verification`: Webhook sent when the status of a KYC or KYB evaluation changes from `PENDING_DOCUMENT` (KYC) or `PENDING` (KYB) to `ACCEPTED` or `REJECTED`.
          - `document_upload_front`/`document_upload_back`: Webhook sent when a document upload fails.

        After a webhook has been created, this endpoint can be used to rotate a webhooks HMAC token or modify the registered URL. Only a single webhook is allowed per program. Since HMAC verification is available, the IP addresses from which KYC/KYB webhooks are sent are subject to change.
      operationId: postWebhookAccountHolder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL to receive webhook requests. Must be a valid HTTPS address.
              required:
                - url
            examples:
              createAccountHolderWebhooks:
                summary: Create a webhook for KYC/KYB events
                value:
                  url: 'https://mywebhookurl.com/incoming'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      hmac_token:
                        type: string
                        format: uuid
                        description: >
                          Shared secret which can optionally be used to validate the authenticity of
                          incoming identity webhooks.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth_stream:
    get:
      tags:
        - Auth Stream Access (ASA)
      summary: Get ASA enrollment status
      description: Check status for whether you have enrolled in Authorization Stream Access (ASA) for your program in Sandbox.
      operationId: getAuthStream
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  enrolled:
                    type: boolean
                    description: Whether ASA is enrolled.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Auth Stream Access (ASA)
      summary: Disenroll ASA
      description: Disenroll Authorization Stream Access (ASA) in Sandbox.
      operationId: deleteAuthStream
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Auth Stream Access (ASA)
      summary: Enroll ASA
      description: |
        Authorization Stream Access (ASA) provides the ability to make custom transaction approval decisions through an HTTP interface to the ISO 8583 message stream.

        ASA requests are delivered as an HTTP POST during authorization. The ASA request body adheres to the Lithic transaction schema, with some additional fields added for use in decisioning. A response should be sent with HTTP response code 200 and the approval decision in the response body. This response is converted by Lithic back into ISO 8583 format and forwarded to the network.

        In Sandbox, users can self-enroll and disenroll in ASA. In production, onboarding requires manual approval and setup.
      operationId: postAuthStream
      requestBody:
        content:
          application/json:
            examples:
              enrollAsaExample:
                summary: Enroll in ASA
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
                  description: A user-specified url to receive and respond to ASA request.
                  default: 'https://mywebhookurl.com/incoming'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      callbacks:
        authStreamAccessRequest:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        acquirer_fee:
                          type: integer
                          description: Fee assessed by the merchant and paid for by the cardholder. Will be zero if no fee is assessed. Rebates may be transmitted as a negative value to indicate credited fees.
                        amount:
                          type: integer
                          description: Authorization amount of the transaction (in cents), including any acquirer fees. This may change over time.
                        authorization_amount:
                          type: integer
                          description: The base transaction amount plus the acquirer fee field. This is the amount the issuer should authorize against unless the issuer is paying the acquirer fee on behalf of the cardholder.
                        avs:
                          type: string
                          description: Contains validation information entered by the client to be verified by the issuer.
                        card:
                          $ref: '#/components/schemas/Card'
                        cardholder_authentication:
                          $ref: '#/components/schemas/CardholderAuthentication'
                        created:
                          type: string
                          format: date-time
                          description: Date and time when the transaction first occurred. UTC time zone.
                        events:
                          type: array
                          items:
                            $ref: '#/components/schemas/TransactionEvent'
                          x-lithic-tag: Issuing
                          description: A list of all events that have modified this transaction.
                        funding:
                          type: array
                          description: >
                            A list of objects that describe how this transaction was funded,
                            with the `amount` represented in cents. A reference to the funding account for the
                            `card` that made this transaction may appear here and the `token` will match the `token`
                            for the funding account in the `card` field.
                          items:
                            type: object
                            properties:
                              amount:
                                type: integer
                                description: Funding amount (in cents), including any acquirer fees.
                              token:
                                type: string
                                description: Funding account token.
                              type:
                                type: string
                                enum:
                                  - DEPOSITORY_CHECKING
                                  - DEPOSITORY_SAVINGS
                                description: |
                                  Types of funding:
                                  * `DEPOSITORY_CHECKING` - Bank checking account.
                                  * `DEPOSITORY_SAVINGS` - Bank savings account.
                        merchant:
                          $ref: '#/components/schemas/Merchant'
                        merchant_amount:
                          type: string
                          description: >
                            The amount that the merchant will receive, denominated in `merchant_currency`
                            and in the smallest currency unit. Note the amount includes `acquirer_fee`,
                            similar to `authorization_amount`. It will be different from `authorization_amount`
                            if the merchant is taking payment in a different currency.
                        merchant_currency:
                          type: string
                          description: ISO 4217 alpha 3 code for the currency of the transaction.
                        pos:
                          $ref: '#/components/schemas/PointOfSale'
                        settled_amount:
                          type: integer
                          description: Amount of the transaction that has been settled (in cents), including any acquirer fees. This may change over time.
                          example: 100
                        status:
                          type: string
                          enum:
                            - AUTHORIZATION
                            - BALANCE_INQUIRY
                            - FINANCIAL_AUTHORIZATION
                          description: >
                            `AUTHORIZATION`, `FINANCIAL_AUTHORIZATION` and `BALANCE_INQUIRY` indicates that this request
                            requires an ASA response body in HTTP 200 response. `FINANCIAL_AUTHORIZATION` is a final
                            single-message transaction with no subsequent clearing, `BALANCE_INQUIRY` is a $0 authorization
                            that should prompt a response with the appropriate balance.
                        token:
                          type: string
                          format: uuid
                          description: Globally unique identifier.
              responses:
                '200':
                  description: OK
  /aggregate_balances:
    get:
      tags:
        - Balance
      summary: List Aggregate Balances
      description: Get the aggregated balance across all end-user accounts by financial account type
      operationId: getAggregateBalances
      parameters:
        - in: query
          name: financial_account_type
          schema:
            type: string
            enum: &financialAccountTypes
              - ISSUING
              - RESERVE
          description: Get the aggregate balance for a given Financial Account type.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AggregateBalance'
                  has_more:
                    type: boolean
                    description: More data exists.
                required:
                  - data
                  - has_more
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth_stream/secret:
    get:
      tags:
        - Auth Stream Access (ASA)
      summary: Retrieve the ASA HMAC secret key
      description: >
        Retrieve the ASA HMAC secret key. If one does not exist your program yet, calling this endpoint will create one for you.
        The headers (which you can use to verify webhooks) will begin appearing shortly after calling this endpoint for the first time.
        See [this page](https://docs.lithic.com/docs/auth-stream-access-asa#asa-webhook-verification) for more detail about verifying ASA webhooks.
      operationId: getAuthStreamSecret
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: The shared HMAC ASA secret
                    example: whsec_1NDsYinMGr951KuDEaj78VtWzlyPaOnwUVagFiWIPJs=
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth_stream/secret/rotate:
    post:
      tags:
        - Auth Stream Access (ASA)
      summary: Rotate the ASA HMAC secret key
      description: >
        Generate a new ASA HMAC secret key. The old ASA HMAC secret key will be deactivated 24 hours
        after a successful request to this endpoint. Make a [`GET /auth_stream/secret`](https://docs.lithic.com/reference/getauthstreamsecret)
        request to retrieve the new secret key.
      operationId: rotateAuthStreamSecret
      responses:
        '204':
          description: We have successfully rotated the secret key.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /tokenization_decisioning/secret:
    get:
      tags:
        - Card
      summary: Retrieve the Tokenization Decisioning HMAC secret key
      description: >
        Retrieve the Tokenization Decisioning secret key. If one does not exist your program yet, calling this endpoint will create one for you.
        The headers of the Tokenization Decisioning request will contain a hmac signature which you can use to verify requests originate from Lithic.
        See [this page](https://docs.lithic.com/docs/events-api#verifying-webhooks) for more detail about verifying Tokenization Decisioning requests.
      operationId: getTokenizationDecisioningSecret
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: The Tokenization Decisioning HMAC secret
                    example: whsec_1NDsYinMGr951KuDEaj78VtWzlyPaOnwUVagFiWIPJs=
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /tokenization_decisioning/secret/rotate:
    post:
      tags:
        - Card
      summary: Rotate the Tokenization Decisioning HMAC secret key
      description: >
        Generate a new Tokenization Decisioning secret key. The old Tokenization Decisioning secret key will be deactivated 24 hours
        after a successful request to this endpoint.
      operationId: rotateTokenizationDecisioningSecret
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: The new Tokenization Decisioning HMAC secret
                    example: whsec_1NDsYinMGr951KuDEaj78VtWzlyPaOnwUVagFiWIPJs=
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /balances:
    get:
      tags:
        - Balance
      summary: List Balances
      description: Get the balances for a program or a given end-user account
      operationId: getBalances
      parameters:
        - in: query
          name: account_token
          schema:
            type: string
            format: uuid
          description: List balances for all financial accounts of a given account_token.
        - in: query
          name: balance_date
          schema:
            type: string
            format: date-time
          description: UTC date and time of the balances to retrieve. Defaults to latest available balances
        - in: query
          name: financial_account_type
          schema:
            type: string
            enum: *financialAccountTypes
          description: List balances for a given Financial Account type.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Balance'
                  has_more:
                    type: boolean
                    description: More data exists.
                required:
                  - data
                  - has_more
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /cards:
    get:
      tags:
        - Card
      summary: List cards
      description: List cards.
      operationId: getCards
      parameters:
        - in: query
          name: account_token
          schema:
            type: string
            format: uuid
          description: >
            Returns cards associated with the specified account.
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Card'
                  page:
                    type: integer
                    description: Page number.
                    example: 1
                  total_entries:
                    type: integer
                    description: Total number of entries.
                    example: 1
                  total_pages:
                    type: integer
                    description: Total number of pages.
                    example: 1
                required:
                  - data
                  - page
                  - total_entries
                  - total_pages
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Card
      summary: Create card
      description: >
        Create a new virtual or physical card. Parameters `pin`,
        `shipping_address`, and `product_id` only apply to physical cards.
      operationId: postCards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
              properties:
                account_token:
                  type: string
                  format: uuid
                  description: >
                    Globally unique identifier for the account that the card will be associated with.
                    Required for programs enrolling users using the [/account\_holders endpoint](https://docs.lithic.com/docs/account-holders-kyc).
                    See [Managing Your Program](doc:managing-your-program) for more information.
                card_program_token:
                  type: string
                  format: uuid
                  description: For card programs with more than one BIN range. This must be configured with Lithic before use. Identifies the card program/BIN range under which to create the card. If omitted, will utilize the program's default `card_program_token`. In Sandbox, use 00000000-0000-0000-1000-000000000000 and 00000000-0000-0000-2000-000000000000 to test creating cards on specific card programs.
                  example: '00000000-0000-0000-1000-000000000000'
                exp_month:
                  type: string
                  description: Two digit (MM) expiry month. If neither `exp_month` nor `exp_year` is provided, an expiration date will be generated.
                  minLength: 2
                  maxLength: 2
                  example: '06'
                exp_year:
                  type: string
                  description: Four digit (yyyy) expiry year. If neither `exp_month` nor `exp_year` is provided, an expiration date will be generated.
                  minLength: 4
                  maxLength: 4
                  example: '2027'
                memo:
                  type: string
                  description: Friendly name to identify the card. We recommend against using this field to store JSON data as it can cause unexpected behavior.
                  example: 'New Card'
                spend_limit:
                  type: integer
                  description: Amount (in cents) to limit approved authorizations. Transaction requests above the spend limit will be declined. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the card limit.
                  example: 0
                  minimum: 0
                spend_limit_duration:
                  type: string
                  enum: &spendingLimitDurationTypes
                    - ANNUALLY
                    - FOREVER
                    - MONTHLY
                    - TRANSACTION
                  description: |
                    Spend limit duration values:
                    * `ANNUALLY` - Card will authorize transactions up to spend limit in a calendar year.
                    * `FOREVER` - Card will authorize only up to spend limit for the entire lifetime of the card.
                    * `MONTHLY` - Card will authorize transactions up to spend limit for the trailing month. Month is calculated as this calendar date one month prior.
                    * `TRANSACTION` - Card will authorize multiple transactions if each individual transaction is under the spend limit.
                state:
                  type: string
                  enum:
                    - OPEN
                    - PAUSED
                  description: |
                    Card state values:
                    * `OPEN` - Card will approve authorizations (if they match card and account parameters).
                    * `PAUSED` - Card will decline authorizations, but can be resumed at a later time.
                type:
                  type: string
                  default: VIRTUAL
                  enum:
                    - VIRTUAL
                    - PHYSICAL
                    - MERCHANT_LOCKED
                    - SINGLE_USE
                  description: |
                    Card types:
                    * `VIRTUAL` - Card will authorize at any merchant and can be added to a digital wallet like Apple Pay or Google Pay (if the card program is digital wallet-enabled).
                    * `PHYSICAL` - Manufactured and sent to the cardholder. We offer white label branding, credit, ATM, PIN debit, chip/EMV, NFC and magstripe functionality. Reach out at [lithic.com/contact](https://lithic.com/contact) for more information.
                    * `MERCHANT_LOCKED` - *[Deprecated]* Card is locked to the first merchant that successfully authorizes the card.
                    * `SINGLE_USE` - *[Deprecated]* Card is closed upon first successful authorization.
                pin:
                  type: string
                  description: Encrypted PIN block (in base64). Only applies to cards of type `PHYSICAL` and `VIRTUAL`. See [Encrypted PIN Block](https://docs.lithic.com/docs/cards#encrypted-pin-block-enterprise).
                digital_card_art_token:
                  type: string
                  format: uuid
                  description: Specifies the digital card art to be displayed in the user’s digital wallet after tokenization. This artwork must be approved by Mastercard and configured by Lithic to use. See [Flexible Card Art Guide](https://docs.lithic.com/docs/about-digital-wallets#flexible-card-art).
                  example: '00000000-0000-0000-1000-000000000000'
                product_id:
                  type: string
                  description: Only applicable to cards of type `PHYSICAL`. This must be configured with Lithic before use. Specifies the configuration (i.e., physical card art) that the card should be manufactured with.
                  example: '1'
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                shipping_method:
                  type: string
                  enum:
                    - STANDARD
                    - STANDARD_WITH_TRACKING
                    - EXPEDITED
                  description: |
                    Shipping method for the card. Only applies to cards of type PHYSICAL. Use of options besides `STANDARD` require additional permissions.
                    * `STANDARD` - USPS regular mail or similar international option, with no tracking
                    * `STANDARD_WITH_TRACKING` - USPS regular mail or similar international option, with tracking
                    * `EXPEDITED` - FedEx Standard Overnight or similar international option, with tracking
            examples:
              createCard:
                summary: Create card
                value:
                  memo: New Card
                  spend_limit: 1000
                  spend_limit_duration: TRANSACTION
                  state: OPEN
                  type: VIRTUAL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
              example:
                created: '2021-06-28T22:53:15Z'
                cvv: '776'
                exp_month: '06'
                exp_year: '2027'
                funding:
                  account_name: Sandbox
                  created: '2020-07-08T17:57:36Z'
                  last_four: '5263'
                  nickname: ''
                  state: ENABLED
                  token: b0f0d91a-3697-46d8-85f3-20f0a585cbea
                  type: DEPOSITORY_CHECKING
                hostname: ''
                last_four: '4142'
                memo: New Card
                pan: '4111111289144142'
                spend_limit: 1000
                spend_limit_duration: TRANSACTION
                state: OPEN
                token: 7ef7d65c-9023-4da3-b113-3b8583fd7951
                type: VIRTUAL
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{card_token}:
    get:
      tags:
        - Card
      summary: Get card
      description: Get card configuration such as spend limit and state.
      operationId: getCardByToken
      parameters:
        - $ref: '#/components/parameters/cardToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Card
      summary: Update card
      description: |
        Update the specified properties of the card. Unsupplied properties will remain unchanged. `pin` parameter only applies to physical cards.

        *Note: setting a card to a `CLOSED` state is a final action that cannot be undone.*
      operationId: patchCardByToken
      parameters:
        - $ref: '#/components/parameters/cardToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memo:
                  type: string
                  description: Friendly name to identify the card. We recommend against using this field to store JSON data as it can cause unexpected behavior.
                  example: New Card
                spend_limit:
                  type: integer
                  description: Amount (in cents) to limit approved authorizations. Transaction requests above the spend limit will be declined. Note that a spend limit of 0 is effectively no limit, and should only be used to reset or remove a prior limit. Only a limit of 1 or above will result in declined transactions due to checks against the card limit.
                  example: 0
                spend_limit_duration:
                  type: string
                  enum: *spendingLimitDurationTypes
                  description: |
                    Spend limit duration values:
                    * `ANNUALLY` - Card will authorize transactions up to spend limit in a calendar year.
                    * `FOREVER` - Card will authorize only up to spend limit for the entire lifetime of the card.
                    * `MONTHLY` - Card will authorize transactions up to spend limit for the trailing month. Month is calculated as this calendar date one month prior.
                    * `TRANSACTION` - Card will authorize multiple transactions if each individual transaction is under the spend limit.
                auth_rule_token:
                  type: string
                  description: |
                    Identifier for any Auth Rules that will be applied to transactions taking place with the card.
                state:
                  type: string
                  enum:
                    - CLOSED
                    - OPEN
                    - PAUSED
                  description: |
                    Card state values:
                    * `CLOSED` - Card will no longer approve authorizations. Closing a card cannot be undone.
                    * `OPEN` - Card will approve authorizations (if they match card and account parameters).
                    * `PAUSED` - Card will decline authorizations, but can be resumed at a later time.
                pin:
                  type: string
                  description: Encrypted PIN block (in base64). Only applies to cards of type `PHYSICAL` and `VIRTUAL`. See [Encrypted PIN Block](https://docs.lithic.com/docs/cards#encrypted-pin-block-enterprise).
                digital_card_art_token:
                  type: string
                  format: uuid
                  description: Specifies the digital card art to be displayed in the user’s digital wallet after tokenization. This artwork must be approved by Mastercard and configured by Lithic to use. See [Flexible Card Art Guide](https://docs.lithic.com/docs/about-digital-wallets#flexible-card-art).
                  example: '00000000-0000-0000-1000-000000000000'
            examples:
              updateCard:
                summary: Update card
                value:
                  memo: Updated Name
                  spend_limit: 100
                  spend_limit_duration: FOREVER
                  state: OPEN
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
              example:
                created: '2021-06-28T22:53:15Z'
                cvv: '742'
                exp_month: '05'
                exp_year: '2027'
                funding:
                  account_name: Sandbox
                  created: '2020-07-08 17:57:36'
                  last_four: '5263'
                  nickname: ''
                  state: ENABLED
                  token: 'b0f0d91a-3697-46d8-85f3-20f0a585cbea'
                  type: DEPOSITORY_CHECKING
                hostname: ''
                last_four: '4938'
                memo: Updated Name
                pan: '4111111289144142'
                spend_limit: 100
                spend_limit_duration: FOREVER
                state: OPEN
                token: 'f5f905f5-8a8e-49bf-a9b4-c0adaa401456'
                type: VIRTUAL
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{card_token}/provision:
    post:
      tags:
        - Card
      summary: Provision card (Digital Wallet)
      description: |
        Allow your cardholders to directly add payment cards to the device's digital wallet (e.g. Apple Pay) with one touch from your app.

        This requires some additional setup and configuration. Please [Contact Us](https://lithic.com/contact) or your Customer Success representative for more information.
      operationId: postCardProvision
      parameters:
        - $ref: '#/components/parameters/cardTokenDigitalWallet'
      requestBody:
        description: Update request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                digital_wallet:
                  type: string
                  description: Name of digital wallet provider.
                  enum:
                    - APPLE_PAY
                    - GOOGLE_PAY
                    - SAMSUNG_PAY
                nonce:
                  type: string
                  format: byte
                  description: Required for `APPLE_PAY`. Base64 cryptographic nonce provided by the device's wallet.
                nonce_signature:
                  type: string
                  format: byte
                  description: Required for `APPLE_PAY`. Base64 cryptographic nonce provided by the device's wallet.
                certificate:
                  type: string
                  format: byte
                  description: Required for `APPLE_PAY`. Apple's public leaf certificate. Base64 encoded in PEM format with headers `(-----BEGIN CERTIFICATE-----)` and trailers omitted. Provided by the device's wallet.
            examples:
              provisionGoogleCard:
                summary: Provision a card in Google Pay
                value:
                  digital_wallet: GOOGLE_PAY
      responses:
        '200':
          description: >
            Returns `provisioning_payload`, a cryptographic payload representing a payment card
            that can be passed to a device's digital wallet. Each digital wallet has a different API;
            consult the wallet's documentation for more info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  provisioning_payload:
                    type: string
              example:
                provisioning_payload: 'eyJjYXJ......'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{card_token}/reissue:
    post:
      tags:
        - Card
      summary: Reissue physical card
      description: |
        Initiate print and shipment of a duplicate physical card.

        Only applies to cards of type `PHYSICAL`.
      operationId: postCardReissue
      parameters:
        - $ref: '#/components/parameters/cardToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                  description: If omitted, the previous shipping address will be used.
                shipping_method:
                  type: string
                  enum:
                    - STANDARD
                    - STANDARD_WITH_TRACKING
                    - EXPEDITED
                  description: |
                    Shipping method for the card. Use of options besides `STANDARD` require additional permissions.
                    * `STANDARD` - USPS regular mail or similar international option, with no tracking
                    * `STANDARD_WITH_TRACKING` - USPS regular mail or similar international option, with tracking
                    * `EXPEDITED` - FedEx Standard Overnight or similar international option, with tracking
                product_id:
                  type: string
                  description: >
                    Specifies the configuration (e.g. physical card art) that
                    the card should be manufactured with, and only applies to
                    cards of type `PHYSICAL`. This must be configured
                    with Lithic before use.
            examples:
              reissueCardNewAddress:
                summary: Reissue card with a new address
                value:
                  shipping_address:
                    first_name: Janet
                    last_name: Yellen
                    address1: 5 Broad Street
                    address2: Unit 5A
                    city: NEW YORK
                    state: NY
                    zipcode: '10001'
                    country: USA
                  shipping_method: STANDARD
                  product_id: '100'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                created: '2021-06-28T22:53:15Z'
                cvv: '742'
                exp_month: '05'
                exp_year: '2027'
                funding:
                  account_name: Sandbox
                  created: '2020-07-08 17:57:36'
                  last_four: '5263'
                  nickname: ''
                  state: ENABLED
                  token: 'b0f0d91a-3697-46d8-85f3-20f0a585cbea'
                  type: DEPOSITORY_CHECKING
                hostname: ''
                last_four: '4938'
                memo: Updated Name
                pan: '4111111289144142'
                spend_limit: 100
                spend_limit_duration: FOREVER
                state: OPEN
                token: 'f5f905f5-8a8e-49bf-a9b4-c0adaa401456'
                type: VIRTUAL
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /disputes:
    get:
      tags:
        - Disputes
      summary: List disputes
      description: List disputes.
      operationId: getDisputes
      parameters:
        - in: query
          name: transaction_token
          schema:
            type: string
            format: uuid
          description: List disputes of a given transaction token.
        - in: query
          name: status
          schema:
            type: string
            enum:
              - NEW
              - PENDING_CUSTOMER
              - SUBMITTED
              - REPRESENTMENT
              - PREARBITRATION
              - ARBITRATION
              - CASE_WON
              - CASE_CLOSED
          description: List disputes of a specific status.
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dispute'
                  has_more:
                    type: boolean
                    description: More data exists.
                required:
                  - data
                  - has_more
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Disputes
      summary: Initiate dispute
      description: Initiate a dispute.
      operationId: postDisputes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - reason
                - transaction_token
              properties:
                amount:
                  type: integer
                  description: Amount to dispute
                customer_filed_date:
                  type: string
                  format: date-time
                  description: Date the customer filed the dispute
                reason:
                  type: string
                  enum:
                    - ATM_CASH_MISDISPENSE
                    - CANCELLED
                    - DUPLICATED
                    - FRAUD_CARD_NOT_PRESENT
                    - FRAUD_CARD_PRESENT
                    - FRAUD_OTHER
                    - GOODS_SERVICES_NOT_AS_DESCRIBED
                    - GOODS_SERVICES_NOT_RECEIVED
                    - INCORRECT_AMOUNT
                    - MISSING_AUTH
                    - OTHER
                    - PROCESSING_ERROR
                    - REFUND_NOT_PROCESSED
                    - RECURRING_TRANSACTION_NOT_CANCELLED
                  description: Reason for dispute
                transaction_token:
                  type: string
                  format: uuid
                  description: Transaction to dispute
                customer_note:
                  type: string
                  maximum: 5000
                  description: Customer description of dispute
            examples:
              initiateDispute:
                summary: Initiate a dispute
                value:
                  amount: 10000
                  customer_filed_date: '2021-06-28T22:53:15Z'
                  reason: FRAUDULENT
                  transaction_token: 12345624-aa69-4cbc-a946-30d90181b621
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /disputes/{dispute_token}:
    get:
      tags:
        - Disputes
      summary: Get dispute
      description: Get dispute.
      operationId: getDisputeByToken
      parameters:
        - $ref: '#/components/parameters/disputeToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Disputes
      summary: Withdraw dispute
      description: Withdraw dispute.
      operationId: deleteDisputeByToken
      parameters:
        - $ref: '#/components/parameters/disputeToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Disputes
      summary: Update dispute
      description: Update dispute. Can only be modified if status is `NEW`.
      operationId: updateDisputeByToken
      parameters:
        - $ref: '#/components/parameters/disputeToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Amount to dispute
                customer_filed_date:
                  type: string
                  format: date-time
                  description: Date the customer filed the dispute
                customer_note:
                  type: string
                  description: Customer description of dispute
                reason:
                  type: string
                  enum:
                    - ATM_CASH_MISDISPENSE
                    - CANCELLED
                    - DUPLICATED
                    - FRAUD_CARD_NOT_PRESENT
                    - FRAUD_CARD_PRESENT
                    - FRAUD_OTHER
                    - GOODS_SERVICES_NOT_AS_DESCRIBED
                    - GOODS_SERVICES_NOT_RECEIVED
                    - INCORRECT_AMOUNT
                    - MISSING_AUTH
                    - OTHER
                    - PROCESSING_ERROR
                    - REFUND_NOT_PROCESSED
                    - RECURRING_TRANSACTION_NOT_CANCELLED
                  description: Reason for dispute
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /disputes/{dispute_token}/evidences:
    get:
      tags:
        - Disputes
      summary: List dispute evidences
      description: List evidence metadata for a dispute.
      operationId: getDisputeEvidences
      parameters:
        - $ref: '#/components/parameters/disputeToken'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DisputeEvidence'
                  has_more:
                    type: boolean
                    description: More data exists.
                required:
                  - data
                  - has_more
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Disputes
      summary: Initiate dispute evidence upload
      description: |
        Use this endpoint to upload evidences for the dispute. It will return a URL to upload your documents to. The URL will expire in 30 minutes.

        Uploaded documents must either be a `jpg`, `png` or `pdf` file, and each must be less than 5 GiB.
      operationId: postEvidenceDocument
      parameters:
        - $ref: '#/components/parameters/disputeToken'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_url:
                    type: string
                description: URL to upload document image to. The URL will expire in 5 minutes.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /disputes/{dispute_token}/evidences/{evidence_token}:
    get:
      tags:
        - Disputes
      summary: Get dispute evidence
      description: Get a dispute's evidence metadata.
      operationId: getDisputeEvidenceByToken
      parameters:
        - $ref: '#/components/parameters/disputeToken'
        - $ref: '#/components/parameters/disputeEvidenceToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeEvidence'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Disputes
      summary: Withdraw dispute evidence
      description: Soft delete evidence for a dispute. Evidence will not be reviewed or submitted by Lithic after it is withdrawn.
      operationId: deleteDisputeEvidenceByToken
      parameters:
        - $ref: '#/components/parameters/disputeToken'
        - $ref: '#/components/parameters/disputeEvidenceToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeEvidence'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /embed/card:
    get:
      tags:
        - Card
      summary: Embedded card UI
      description: |
        Handling full card PANs and CVV codes requires that you comply with the Payment Card Industry Data Security Standards (PCI DSS). Some clients choose to reduce their compliance obligations by leveraging our embedded card UI solution documented below.

        In this setup, PANs and CVV codes are presented to the end-user via a card UI that we provide, optionally styled in the customer's branding using a specified css stylesheet. A user's browser makes the request directly to api.lithic.com, so card PANs and CVVs never touch the API customer's servers while full card data is displayed to their end-users. The response contains an HTML document. This means that the url for the request can be inserted straight into the `src` attribute of an iframe.

        ```html
        <iframe id="card-iframe"
                src="https://sandbox.lithic.com/v1/embed/card?embed_request=eyJjc3MiO...;hmac=r8tx1..."
                allow="clipboard-write" class="content"></iframe>
        ```

        You should compute the request payload on the server side. You can render it (or the whole iframe) on the server or make an ajax call from your front end code, but **do not ever embed your API key into front end code, as doing so introduces a serious security vulnerability**.
      operationId: getEmbedCard
      parameters:
        - in: query
          name: embed_request
          description: A base64 encoded JSON string of an EmbedRequest to specify which card to load.
          schema:
            type: string
          required: true
        - in: query
          name: hmac
          description: SHA256 HMAC of the embed_request JSON string with base64 digest.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: |
            The endpoint returns an HTML document similar to the one below. It is up to the API client to provide css styles for these elements in the EmbedRequest. You can always rely on the `card`, `pan`, `expiry`, `cvv`, and `alert` ids, as well as the `pan-separator` class. You shouldn't make any other assumptions about the structure of the document as it could change at any time.

            Note that using the default style sheet there is no visual indication that copying is happening on-click, and you may need to add on-click styling yourself.
          content:
            text/html:
              schema:
                type: string
              examples:
                html:
                  summary: Card UI
                  value: |
                    <html>
                    <head>
                    <link rel="stylesheet" type="text/css" href="https://demo.lithic.com/backend/embedded.css">
                    <style>
                        #alert { display: none; }
                    </style>
                    <script type="text/javascript">
                        var timeout;

                        function clearAlertDelay() {
                            clearTimeout(timeout);
                            var messageDiv = document.getElementById('alert');
                            timeout = window.setTimeout(
                                function() {
                                    messageDiv.className = "empty";
                                    messageDiv.innerText = "";
                                },
                                1200
                            );
                        }

                        function copySuccess(divId) {
                            var messageDiv = document.getElementById('alert');
                            messageDiv.innerText = divId + " copied to clipboard";
                            messageDiv.className = "success";
                            console.log('Copying to clipboard was successful!');
                            clearAlertDelay();
                        }

                        function copyFailed(divId) {
                            var messageDiv = document.getElementById('alert');
                            messageDiv.innerText = "error copying " + divId;
                            messageDiv.className = "error";
                            console.error('Copying to clipboard failed');
                            clearAlertDelay();
                        }

                        function copyToClip(divId) {
                            var messageDiv = document.getElementById('alert');
                            var copyEl = document.getElementById(divId);
                            var copyText = copyEl.textContent;
                            navigator.clipboard.writeText(copyText)
                                .then(function () {
                                    copySuccess(divId);
                                    clearAlertDelay();
                                })
                                .catch(function(err) {
                                    try {
                                        var copied = false;
                                        if (document.createRange) {
                                            range = document.createRange();
                                            range.selectNode(copyEl)
                                            select = window.getSelection();
                                            select.removeAllRanges();
                                            select.addRange(range);
                                            copied = document.execCommand('copy');
                                            select.removeAllRanges();
                                        }
                                        else {
                                            range = document.body.createTextRange();
                                            range.moveToElementText(copyEl);
                                            range.select();
                                            copied = document.execCommand('copy');
                                        }

                                        if (copied) {
                                            copySuccess(divId);
                                        }
                                        else {
                                            copyFailed(divId);
                                        }
                                    }
                                    catch (err) {
                                        copyFailed(divId);
                                    }
                                    clearAlertDelay();
                                })
                        }
                    </script>
                    </head>
                    <body>
                        <div id="card">
                            <div id="pan" onclick="copyToClip('pan')">9999<span class='pan-separator'></span>9999<span class='pan-separator'></span>9999<span class='pan-separator'></span>9999</div>
                            <div id="expiry">
                                <span id="month" onclick="copyToClip('month')">08</span>
                                <span id="separator">/</span>
                                <span id="year" onclick="copyToClip('year')">27</span>
                            </div>
                            <div id="cvv" onclick="copyToClip('cvv')">574</div>
                            <div id="alert" class="empty"></div>
                        </div>
                    </body>
                    </html>
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /event_subscriptions:
    get:
      tags:
        - Event
      summary: List event subscriptions
      description: List all the event subscriptions.
      operationId: getEventSubscriptions
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  - description: A subscription for all events
                    token: ep_1srOrx2ZWZBpBUvZwXKQmoEYga1
                    event_types: null
                    url: https://example.com/webhook
                    disabled: false
                has_more: false
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSubscription'
                  has_more:
                    type: boolean
                required:
                  - data
                  - has_more
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Event
      summary: Create event subscription
      description: Create a new event subscription.
      operationId: createEventSubscription
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Event subscription description.
                disabled:
                  type: boolean
                  default: false
                  description: Whether the event subscription is active (false) or inactive (true).
                event_types:
                  type: array
                  items:
                    type: string
                    enum: &eventTypes
                      - dispute.updated
                      - digital_wallet.tokenization_approval_request
                  description: Indicates types of events that will be sent to this subscription. If left blank, all types will be sent.
                url:
                  type: string
                  format: uri
                  description: URL to which event webhooks will be sent. URL must be a valid HTTPS address.
              required:
                - url
      responses:
        '201':
          description: Created
          content:
            application/json:
              example:
                description: A subscription for all events
                token: ep_1srOrx2ZWZBpBUvZwXKQmoEYga1
                url: https://example.com/webhook
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /event_subscriptions/{event_subscription_token}:
    get:
      tags:
        - Event
      summary: Get event subscription
      description: Get an event subscription.
      operationId: getEventSubscription
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                description: A subscription for all events
                token: ep_1srOrx2ZWZBpBUvZwXKQmoEYga1
                url: https://example.com/webhook
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Event
      summary: Update event subscription
      description: Update an event subscription.
      operationId: updateEventSubscription
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Event subscription description.
                disabled:
                  type: boolean
                  default: false
                  description: Whether the event subscription is active (false) or inactive (true).
                event_types:
                  type: array
                  items:
                    type: string
                    enum: &eventTypes
                      - dispute.updated
                      - digital_wallet.tokenization_approval_request
                  description: Indicates types of events that will be sent to this subscription. If left blank, all types will be sent.
                url:
                  type: string
                  format: uri
                  description: URL to which event webhooks will be sent. URL must be a valid HTTPS address.
              required:
                - url
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                description: A subscription for all events
                token: ep_1srOrx2ZWZBpBUvZwXKQmoEYga1
                url: https://example.com/webhook
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Event
      summary: Delete event subscription
      description: Delete an event subscription.
      operationId: deleteEventSubscription
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /event_subscriptions/{event_subscription_token}/recover:
    post:
      tags:
        - Event
      summary: Resend failed messages
      description: Resend all failed messages since a given time.
      operationId: recoverEventSubscription
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /event_subscriptions/{event_subscription_token}/replay_missing:
    post:
      tags:
        - Event
      summary: Replay missing messages
      description: >
        Replays messages to the endpoint. Only messages that were created after `begin` will be sent.
        Messages that were previously sent to the endpoint are not resent.
      operationId: replayMissingEventSubscription
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /event_subscriptions/{event_subscription_token}/secret:
    get:
      tags:
        - Event
      summary: Get event subscription secret
      description: Get the secret for an event subscription.
      operationId: getEventSubscriptionSecret
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                key: whsec_C2FVsBQIhrscChlQIMA
              schema:
                type: object
                properties:
                  key:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /event_subscriptions/{event_subscription_token}/secret/rotate:
    post:
      tags:
        - Event
      summary: Rotate event subscription secret
      description: >
        Rotate the secret for an event subscription.
        The previous secret will be valid for the next 24 hours.
      operationId: rotateEventSubscriptionSecret
      parameters:
        - in: path
          name: event_subscription_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '204':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /events:
    get:
      tags:
        - Event
      summary: List events
      description: List all events.
      operationId: getEvents
      parameters:
        - $ref: '#/components/parameters/beginTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
        - in: query
          name: event_types[]
          required: false
          schema:
            type: array
            items:
              type: string
              enum: *eventTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  - created: '2020-07-08 17:57:36'
                    event_type: 'dispute.updated'
                    token: 'msg_1srOrx2ZWZBpBUvZwXKQmoEYga1'
                    payload: {}
                has_more: false
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
[...]
